<!-- application -->
<script src="@controllers.application.routes.Assets.at("javascripts/application/appModule.js")"></script>
<script src="@controllers.application.routes.Assets.at("javascripts/application/directives.js")"></script>
<script src="@controllers.application.routes.Assets.at("javascripts/application/controllers.js")"></script>
<script src="@controllers.application.routes.Assets.at("javascripts/application/service.js")"></script>

<!-- item -->
<script src="@controllers.application.routes.Assets.at("javascripts/item/itemModule.js")"></script>
<script src="@controllers.application.routes.Assets.at("javascripts/item/controllers.js")"></script>
<script src="@controllers.application.routes.Assets.at("javascripts/item/service.js")"></script>
<script src="@controllers.application.routes.Assets.at("javascripts/item/directives.js")"></script>
