@(appTypes: Map[String, String],optionalParameters: Map[String, String] = Map[String,String]())

@inputText(name: String, required: Boolean) = {
  <div>
    <input type="text" placeholder=@name data-ng-model="applicationForm.@name" @if(required){required}/>
    <span class="help-inline" ng-show="formErrors.@name != ''" ng-bind="formErrors.@name"/>
    <br>
  </div>
}

@radioButtons(names: List[String], model: String) = {
  @for(name <- names){
    <input type="radio" ng-model="applicationForm.@model" value="@name">@name<br/>
  }
  <br>
}

<form
  class="form-vertical"
  enctype="multipart/form-data"
  ng-controller="NewApplicationFormController"
  ng-submit="createApplication(applicationForm)">
    <legend>General</legend>
      @inputText("name", true)
      @inputText("appUrl", true)
      @inputText("packageName", false)
      @radioButtons(List("Android","iOS"),"appType")
    <input type="submit" class="btn btn-success" value="Create">
</form>
