@(currencyTypes: List[String])

<div class="row-fluid">
    <form enctype="multipart/form-data" ng-submit="createItem()">
      <div class="col-md-4 form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" type="text" data-ng-model="itemForm.name" required/>
          <!-- <span class="help-inline" ng-show="formErrors.name.visible" ng-bind="formErrors.name.message"/> -->

          <label for="name">Description</label>
          <textarea class="form-control" data-ng-model="itemForm.description" rows="4" required></textarea>

          <div class="col-md-4">
            <label for="name">Price</label>
            <input type="number" min="0" step="any" class="form-control" id="name" type="text" data-ng-model="itemForm.currency.value" required/>
          </div>
          <div class="col-md-8">
            <label for="name">Currency</label>
            <select class="form-control" ng-model="itemForm.currency.virtualCurrency" ng-options="c for c in itemForm.currency.realCurrencies"></select>
          </div>
      </div>
      <div class="col-md-4 form-group">
          <img id="item-logo-thumbnail" ng-src="{{itemForm.imageInfo.url}}" class="img-thumbnail" style="height: 200px">
          <div class="row-fluid">
          <span class="btn btn-default btn-file">
                <i class="fa fa-upload"></i>
              Upload image <input type="file" file-model="myFile" ng-file-select="onFileSelect($files)" ng-model="imgThumb" required/>
          </span>
        </div>
      </div>
      <div class="col-md-12 form-group">
          <input type="submit" class="btn btn-success" value="Create">
      </div>
    </form>
</div>
