@(registrationForm: Form[models.user.User])

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <h3 class="header">Create account</h3>
      <form accept-charset="UTF-8" role="form" method="post" ng-submit="createUserAccount()">

        <fieldset class="body">
          <div class="body">
            <div class="form-group">
              <input class="form-control" ng-model="userForm.name" placeholder="Name" name="name" type="text" required>
            </div>
            <div ng-class="emailCss">
              <label class="control-label" ng-show="errors.show" for="newUserEmail">{{errors.content}}</label>
              <input id="newUserEmail" class="form-control" ng-model="userForm.email" placeholder="E-mail" name="email" type="email" required>
            </div>
            <div ng-class="passwordCss">
              <label class="control-label" ng-show="passwordErrors.show" for="userPassword">{{passwordErrors.content}}</label>
              <input id="userPassword" class="form-control" ng-model="userForm.password" placeholder="Password" name="password" type="password" value="" required>
            </div>
            <div class="form-group">
              <input class="form-control" ng-model="passwordConfirmation" placeholder="Repeat password" name="password" type="password" value="" required>
            </div>
            <div class="form-group">
              <input class="form-control" ng-model="userForm.company" placeholder="Company" name="company" type="text" required>
            </div>
            <br>
          </fieldset>

          <div class="footer">
            <button type="submit" class="btn btn-lg btn-success call-to-action" value="Create account">Create account</button>
            <br>
          </div>

          <br>
      </form>
      <br><br>
    </div>
  </div>
  <div class="text-center">
    <ul class="list-inline">
      <li><a href="" ui-sref="webframe.terms"> Terms and Conditions</a></li>
      <li>&sdot;</li>
      <li><a href="" ui-sref="webframe.privacy"> Privacy Policy</a></li>
    </ul>
  </div>
</div>
