
       <div class="panel panel-default">
         <div class="panel-heading">
           <div class="row">
             <div class="col-md-6" style="padding-top:5px"><i class="fa fa-bell fa-fw"></i> Active Campaigns</div>
             <div class="input-group .col-md-4 .col-md-offset-4" style="padding-right:15px">
               <input id="btn-input" type="text" class="form-control input-sm" placeholder="Search campaigns..." />
               <span class="input-group-btn">
                 <button class="btn btn-warning btn-sm" id="btn-chat">Search</button>
               </span>
             </div>
           </div>
         </div>
 
         <div class="panel-body">
           <table class="table table-hover">
             <tr>
               <td>Name</td> 
               <td>Platform</td>
               <td>Begin Date</td>
               <td>Expiration Date</td>
               <td>Success rate</td>
               <td>Revenue</td>
             </tr>
             <tr>
               <td>Champions League</td>
               <td><i class="fa fa-apple fa-2x"></i></td>
               <td>20-05-2014</td>
               <td>24-05-2014</td>
               <td>0.60 %</td>
               <td>$450 K </td>
             </tr>
             <tr>
               <td>Happy friday</td>
               <td><i class="fa fa-apple fa-2x"></i>  <i class="fa fa-android fa-2x"></i></td>
               <td>24-05-2014</td>
               <td>31-05-2014</td>
               <td>0.30 %</td>
               <td>$150 K </td>
             </tr>
             <tr>
               <td>Super May</td>
               <td><i class="fa fa-apple fa-2x"></i>  <i class="fa fa-android fa-2x"></i></td>
               <td>15-05-2014</td>
               <td>31-05-2014</td>
               <td>0.25 %</td>
               <td>$400 K </td>
             </tr>
           </table>
         </div>
       </div>
 
       <div class="panel panel-default" hidden>
         <div class="panel-heading">
           <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
           <div class="pull-right">
             <div class="btn-group">
               <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                 Actions
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu pull-right" role="menu">
                 <li><a href="#">Action</a>
                 </li>
                 <li><a href="#">Another action</a>
                 </li>
                 <li><a href="#">Something else here</a>
                 </li>
                 <li class="divider"></li>
                 <li><a href="#">Separated link</a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
         <div class="panel-body">
           <div id="morris-area-chart"></div>
         </div>
       </div>
     </div>
 


       <div class="panel panel-default">
         <div class="panel-heading">
           <div class="row">
             <div class="col-md-6" style="padding-top:5px"><i class="fa fa-bell fa-fw"></i> Past Campaigns</div>
             <div class="input-group .col-md-4 .col-md-offset-4" style="padding-right:15px">
               <input id="btn-input" type="text" class="form-control input-sm" placeholder="Search campaigns..." />
               <span class="input-group-btn">
                 <button class="btn btn-warning btn-sm" id="btn-chat">Search</button>
               </span>
             </div>
           </div>
         </div>
 
         <div class="panel-body">
           <table class="table table-hover">
             <tr>
               <td>Name</td> 
               <td>Platform</td>
               <td>Begin Date</td>
               <td>Expiration Date</td>
               <td>Success rate</td>
               <td>Revenue</td>
             </tr>
             <tr>
               <td>Christmas</td>
               <td><i class="fa fa-apple fa-2x"></i></td>
               <td>20-12-2013</td>
               <td>25-12-2013</td>
               <td>0.45 %</td>
               <td>$350 K </td>
             </tr>
           </table>
         </div>
       </div>
 
       <div class="panel panel-default" hidden>
         <div class="panel-heading">
           <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
           <div class="pull-right">
             <div class="btn-group">
               <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                 Actions
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu pull-right" role="menu">
                 <li><a href="#">Action</a>
                 </li>
                 <li><a href="#">Another action</a>
                 </li>
                 <li><a href="#">Something else here</a>
                 </li>
                 <li class="divider"></li>
                 <li><a href="#">Separated link</a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
         <div class="panel-body">
           <div id="morris-area-chart"></div>
         </div>
       </div>
     </div>
 