@(
exist: Boolean,
applicationName: String,
credentials: models.application.Credentials,
virtualCurrencies: List[models.application.VirtualCurrency],
items: List[models.application.Item]
)

@if(exist){

<div ng-controller="DashboardController">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <div class="panel kpi">
        <div class="panel-heading">
          <h2>Average Revenue Per User</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="kpi value">$2.33</div>
          </div>
          <div class="col-md-6">
            <!-- <button type="button" ng-click="" class="btn btn-primary">More info</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="panel kpi">
        <div class="panel-heading">
          <h2>Average Revenue Per User</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="kpi value">$2.33</div>
          </div>
          <div class="col-md-6">
            <!-- <button type="button" ng-click="" class="btn btn-primary">More info</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="panel kpi">
        <div class="panel-heading">
          <h2>Average Revenue Per User</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="kpi value">$2.33</div>
          </div>
          <div class="col-md-6">
            <!-- <button type="button" ng-click="" class="btn btn-primary">More info</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--div class="row">
    <div id="revenueDashboard" style="width:100%; height:400px;"></div>
  </div-->

} else {
  <h2>It seems you have not registered any application yet.</h2>
  <p class="lead font-semibold">
    <a class="btn btn-default btn-lg" ng-href='/newapp'><span class="fa fa-edit fa-fw"></span>New Application</a>
  </p>
}
