@(
  exist: Boolean,
  applicationName: String,
  credentials: models.application.Credentials,
  virtualCurrencies: List[models.application.VirtualCurrency],
  items: List[models.application.Item]
)

@itemView = {
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6"><img class="img-responsive" ng-src="{{item.imageInfo.url}}">
      </div>
      <div class="col-xs-5">
        <h4 class="product-name"><strong>{{item._id}}</strong></h4><h4><small>{{item.description}}</small></h4>
        <h5><strong>{{item.currency.value}}<span class="glyphicon-euro"></span></strong></h5>
      </div>
      <div class="col-xs-1">
        <button type="button" class="btn btn-link btn-xs" ng-click="deleteItem(item._id, item.imageInfo.name)">
          <span class="glyphicon glyphicon-trash"> </span>
        </button>
      </div>
    </div>
  </div>
</div>
}

@itemsGrid = {
<div class="row form-group">
  <div class="col-xs-12 col-md-4" ng-repeat="item in items | filter:itemSearch">
    @itemView
  </div>
</div> 
}

@if(exist){
  <h3 id="dashboardCurrentApplication">@applicationName</h3>
  <div>
      <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>New item</h3>
        </div>
        <div class="modal-body">
            @views.html.newItem.render(List("Real", "Virtual"))
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
      </script>
  </div>
  @itemsGrid

} else {
  <h2>No applications :(</h2>
  <button class="btn btn-lg btn-success btn-block" value="Create new application">

}
