<!-- Dashboard -->
<script src="@controllers.dashboard.routes.Assets.at("javascripts/dashboard/dashboardModule.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/dashboard/services/dashboardServices.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/dashboard/controllers/dashboardController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/analytics/detailedKpiModel.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/dashboard/directives/kpiDirective.js")"></script>

<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/overviewController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/campaignsController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/inventoryController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/controllers.js")"></script>

<script src="@controllers.dashboard.routes.Assets.at("javascripts/analytics/analyticsController.js")"></script>

<!-- ARPU -->
<script src="@controllers.dashboard.routes.Assets.at("javascripts/analytics/arpu/controllers/arpuController.js")"></script>

<!-- Total Revenue -->
<script src="@controllers.dashboard.routes.Assets.at("javascripts/analytics/revenue/controllers/revenueController.js")"></script>

<!-- Average Revenue Per Session -->
<script src="@controllers.dashboard.routes.Assets.at("javascripts/analytics/avgRevenueSession/controllers/avgRevenueSessionController.js")"></script>
