@(
exist: Boolean,
applicationName: String,
credentials: models.application.Credentials,
virtualCurrencies: List[models.application.VirtualCurrency],
items: List[models.application.Item]
)

@if(exist){


<div ng-controller="DashboardController">

  <!-- TODO: take the panels out! :) -->

  <!-- General KPIs -->
  <div class="panel panel-kpi-container">
    <div class="panel-heading" id="general"><i class="fa fa-money"></i> General </div>
    <div class="panel-body">
      <div class="row kpi">
        <kpi info="totalRevenue"></kpi>
        <kpi info="arpu"></kpi>
        <kpi info="avgRevSession"></kpi>
      </div>
    </div>
  </div>

  <!-- User KPIs -->
  <div class="panel panel-kpi-container">
    <div class="panel-heading" id="users"><i class="fa fa-user"></i> User</div>
    <div class="panel-body">
      <div class="row kpi">
        <kpi info="ltv"></kpi>
        <kpi info="payingUsers"></kpi>
        <kpi info="todo"></kpi>
      </div>
    </div>
  </div>

  <!-- Session KPIs -->
  <div class="panel panel-kpi-container">
    <div class="panel-heading" id="sessions"><i class="fa fa-clock-o"></i> Session</div>
    <div class="panel-body">
      <div class="row kpi">
        <kpi info="purchasesPerSession"></kpi>
        <kpi info="avgTimeFirstPurchase"></kpi>
        <kpi info="avgTimeBetweenPurchases"></kpi>
      </div>
    </div>
  </div>

} else {
  <h2>It seems you have not registered any application yet.</h2>
  <p class="lead font-semibold">
    <a class="btn btn-default btn-lg" ui-sref='home.newapp'><span class="fa fa-edit fa-fw"></span>New Application</a>
  </p>
}
