<script src="@controllers.dashboard.routes.Assets.at("javascripts/dashboardModule.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/analyticsController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/recommendationController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/campaignsController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/inventoryController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/dashboardServices.js")"></script>
