<script src="@controllers.dashboard.routes.Assets.at("javascripts/dashboardModule.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/dashboardServices.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/campaignsController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/inventoryController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/controllers.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/analytics/arpuController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/analytics/churnController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/analytics/ltvController.js")"></script>
<script src="@controllers.dashboard.routes.Assets.at("javascripts/controllers/analytics/revenueController.js")"></script>
