
@itemView = {
<div class="panel panel-default panel-dimensions">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6">
				<img class="img-responsive" ng-src="{{item.imageInfo.url}}">
			</div>
			<div class="col-xs-6">
				<h4 class="product-name"><strong>{{item.name}}</strong></h4>
				<h4 class="boxed-text"><small>{{item.description}}</small></h4>

				<strong style="margin-right: 5px">{{item.currency.value}}<span class="glyphicon-euro"></span></strong>
				<button type="button" class="btn btn-link btn-no-shadow" ng-click="alert('TODO')">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button type="button" class="btn btn-link btn-no-shadow" ng-click="deleteItem(item.name, item.imageInfo.name)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
		</div>
	</div>
</div>
}

@itemsGrid = {
<div class="row form-group">
	<div class="col-xs-12 col-md-4" ng-repeat="item in items | filter:itemSearch">
		@itemView
	</div>

	<div class="col-xs-12 col-md-4">
		<a href="#" ng-click="addItem()">
			<div class="panel panel-default panel-dimensions">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<img class="img-responsive" ng-src="http://www.clker.com/cliparts/A/P/L/b/V/G/blue-plus-sign-md.png">
						</div>
						<div class="col-xs-6">
							<h4 class=""><strong>Add more items</strong></h4>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>


</div> 
}

@navSection = {
	<nav>
		<div class="col-sm-3 col-md-3">
			<form class="navbar-form" role="search" ng-submit="">
				<div class="input-group">
					<input type="text" ng-model="itemName" ng-change="sendItemSearchEvent()" class="form-control" placeholder="Search Items" name="q">
				</div>
			</form>
		</div>

		<ul class="nav nav-pills pull-right">
			<li>
				<div>
					<a href="/inventory/crud" class="btn btn-default btn-lg"><i class="fa fa-th-list"></i></a>
				</div>
			</li>
			<li class="dropdown" ng-controller="DashboardController">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Add<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#" ng-click="addItem()">Item</a></li>
					<li><a href="#" ng-click="addItem()">Virtual Currency</a></li>
				</ul>
			</li>
			<li class="dropdown" ng-controller="DashboardController">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Choose Store<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/store/android">Android</a></li>
					<li><a href="/store/apple">Apple</a></li>
					<li><a href="/store/amazon">Amazon</a></li>
					<li><a href="/store/aptoide">Aptoide</a></li>
				</ul>
				<!--ul class="dropdown-menu" ng-repeat="application in applications">
					<li><a href="#">{{application}}</a></li>
				</ul-->
			</li>
		</ul>
	</nav>
	}


@navSection

<div class="row">
	<div class="col-md-12">
		@itemsGrid
	</div>
</div>