<div class="row settings">
  <div class="col-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div class="panel-title"><i class="fa fa-cog"></i> Account Settings</div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <h4>Personal Information</h4>
            <table class="table">
              <tr>
                <td><b>Name</b></td>
                <td>{{userInfo.name}}</td>
              </tr>
              <tr>
                <td><b>Email</b></td>
                <td>{{userInfo.email}}</td>
              </tr>
              <tr>
                <td><b>Company</b></td>
                <td>{{userInfo.companyName}}</td>
              </tr>
            </table>
            <br>
            <h4></h4>
            <table class="table">
              <h4>Application</h4>
              <tr>
                <td><b>Name</b></td>
                <td>{{appName}}</td>
              </tr>
              <tr>
              <td><b>SDK Token</b></td>
              <td>{{credentials.sdkToken}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
  
