<div class="row" ng-controller="OverviewController">

    <div ng-hide="applications.length > 0">
        <div class="col-md-8 col-lg-8">
          <h2>It seems you have not registered any application yet.</h2>
          <p class="lead font-semibold">
            <a class="btn btn-default btn-lg" ui-sref='home.newapp'><span class="fa fa-edit fa-fw"></span>New Application</a>
          </p>
        </div>
    </div>

    <div ng-show="applications.length > 0">
        <table class="table">
          <tr>
            <td>Application</td>
            <td>API Key</td> 
            <td>SDK Key</td>
          </tr>
          <tr ng-repeat="app in applications">
            <td>{{app.name}}</td>
            <td>{{app.apiKey}}</td> 
            <td>{{app.sdkKey}}</td>
          </tr>
        </table>
    </div>
</div>
