<p class="lead font-semibold">
	<h2>Item list</h2>
	<a href="home" class="btn btn-lg btn-default">Import</a>
	<a href="login" class="btn btn-lg btn-default">Export</a>
</p>

<table class="table table-hover">
	<tr>
		<td>Item name</td>
		<td>#</td> 
		<td>Revenue</td>
		<td>Date</td>
		<td>Price</td>
	</tr>
	<tr>
		<td>PowerUp</td>
		<td>94</td>
		<td>200 USD</td>
		<td>March 12th</td>
		<td>0.99 USD</td>
	</tr>
	<tr>
		<td>Special Chicken</td>
		<td>96</td>
		<td>0 USD</td>
		<td>March 12th</td>
		<td>0.99 USD</td>
	</tr>
	<div ng-repeat="item in items" ng-show="items">
		<tr>
			<td>{{item._id}}</td>
			<td>97</td>
			<td>{{item.currency.value}} USD</td>
			<td>March 12th</td>
			<td>0.99 USD</td>
		</tr>
	</div>
</table>