.call-to-action {
    background-color: #DC7F11 !important;
    border-color: #DC7F11 !important;
    width: 100%;
    margin: auto;
    outline: 0;
}

.call-to-action:hover{
    background-color: #ED8B13;
    border-color: #DC7F11;
    outline: 0;
}