.panel-kpi-container {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.panel-kpi-container > .panel-heading {
    background: #f9f9f9;
    color: #555;
    font-size: 2em;
}

.panel-kpi-container > .panel-body {
    background: #f9f9f9;
}
