.panel-kpi-container {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.panel-kpi-container > .panel-heading {
    background: #f9f9f9;
    color: #555;
    font-size: 2em;
}

.panel-kpi-container > .panel-body {
    background: #f9f9f9;
}

.dashboard-title {
  margin:20px;
  font-size: 2em;
  color:#555;
}

.dashboard-kpi {
  margin:10px;
  color:#555;
}

.dashboard-kpi > .panel-heading  > h2 {
  font-size: 1.6em !important;
  color: #34495e;
}

.storeSelect input[type="checkbox"] {
  display: none;
}

.androidstoreSelect input[type="checkbox"] + label {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(../images/android-unselected.png) left top no-repeat;
}

.androidstoreSelect input[type="checkbox"]:checked + label {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(../images/android.png) left top no-repeat;
}

.iOSstoreSelect input[type="checkbox"] + label {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(../images/apple-unselected.png) left top no-repeat;
}

.iOSstoreSelect input[type="checkbox"]:checked + label {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(../images/apple.png) left top no-repeat;
}

.align-left {
  padding-left: 5px
}

.align-right {
  padding-right: 5px
}
