.panel-image img.panel-image-preview {
    width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
  border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
  overflow: hidden;
  
}
.panel-image ~ .panel-footer a {
  padding: 0px 10px;
  font-size: 1.3em;
  color: rgb(100, 100, 100);
}

.panel-image.hide-panel-body ~ .panel-body {
  height: 0px;
  padding: 0px;
}

.login-screen {
	background-color: #222222 !important;
}

.panel-dimensions{
  height:170px;
}

.panel-dimensions .img-responsive {
  max-height: 140px;
}

.boxed-text {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    width: 120px;                 /* fixed width */
}
