.kpi {
  max-height: 300px;
  font-size: 100%;
  padding-left: 15px;
  padding-bottom: 15px;

}

.kpi h2 {
  color: #6C7A89;
}

.kpi .value {
  color: #22A7F0;
  font-size: 3em;
  max-width: 50%;
}

.kpi .delta {
  color: grey;
  font-size: 3em;
}

.kpi-delta,
.kpi-delta-positive,
.kpi-delta-negative {
  font-size: 3em;
}

.kpi-delta {
  color: grey;
}

.kpi-delta-positive {
  color: #1E824C;
}

.kpi-delta-negative {
  color: #e74c3c;
}

.kpi .link {
  padding-top: 22px;
  padding-left: 32px;
}

.kpi .row {
  padding-left: 1em;
  padding-top: 2.5em;
}
