.kpi {
  height: 300px;
  max-height: 400px;
  font-size: 100%;
  padding-bottom: 15px;
}

.kpi h2 {
  text-align: center;
  color: #6C7A89;
}

.kpi .value {
  color: #2574A9;
  font-size: 3em;
  max-width: 50%;
  padding-left: 15px;
  text-align: center;
}

.kpi hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.kpi .delta {
  padding-left: 15px;
  color: grey;
  font-size: 3em;
  text-align: center;
}

.kpi-delta,
.kpi-delta-positive,
.kpi-delta-negative {
  font-size: 3em;
  padding-left: 15px;
}

.kpi-delta {
  color: grey;
}

.kpi-delta-positive {
  color: #1E824C;
}

.kpi-delta-negative {
  color: #e74c3c;
}

.kpi .link {
  padding-top: 22px;
  padding-left: 32px;
}

.kpi .row {
  padding-left: 1em;
  padding-top: 2.5em;
}
