/* Global Styles */
/* ------------------------------- */

html,body {
    height: 100%;
    background: #333
}

body {
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
    box-shadow: inset 0 0 100px rgba(0,0,0,.5)
    -webkit-font-smoothing: antialiased !important;
}

img {
    height:100%;
}

a {
    color: #999
}

.center {
    margin-left : auto;
    margin-right : auto;
}

.fa-fw {
    margin-right: 5px;
}

.font-thin{
    font-family: "Titillium Web",sans-serif;
    font-weight: 200
}

.font-semibold{
    font-family: "Titillium Web",sans-serif;
    font-weight: 600
}

.font-light{
    font-family: "Titillium Web",sans-serif;
    font-weight: 300
}

/* Wrappers */
/* ------------------------------- */
.wrapper{
    width: 100%;
}

.page-wrapper{
    border-top-left-radius: 10px 10px;
    min-height: 568px;
    text-align: left;
    background: #f8f8f8;
    color: #333;
}

.page-header{
    margin-top: 10px;
}

@media(min-width:768px) {
    .page-wrapper{
        border-top-left-radius: 10px 10px;
        text-align: left;
        position: relative;
        background: #f8f8f8;
        color: #333;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7
    }
    
    .navbar-static-side{
        z-index: 1;
        position: absolute;
        width: 250px
    }
    
    .navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts{
        margin-left: auto
    }
}

.dropdown-toggle{
    margin-top: 13px;
    margin-right: 13px;
    float: right;
}

.navbar-static-side ul li{
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
}

.navbar-static-top {
    border-width: 0;
}

.navbar{
    text-align: left;
    color:#999;
    margin-bottom:0;
}

/* Navigation */
/* ------------------------------- */
/* Top Right Navigation Dropdown Styles */
.navbar-top-links li{
    display: inline-block
}

.navbar-top-links li:last-child{
    margin-right: 15px
}

.navbar-top-links li a{
    padding: 15px;
    min-height: 50px
}

.navbar-top-links .dropdown-menu li{
    display: block
}

.navbar-top-links .dropdown-menu li:last-child{
    margin-right: 0
}

.navbar-top-links .dropdown-menu li a{
    padding: 3px 20px;
    min-height: 0
}

.navbar-top-links .dropdown-menu li a div{
    white-space: normal
}

.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts{
    width: 310px;
    min-width: 0
}

.navbar-top-links .dropdown-messages{
    margin-left: 5px
}

.navbar-top-links .dropdown-tasks{
    margin-left: -59px
}

.navbar-top-links .dropdown-alerts{
    margin-left: -123px
}

.navbar-top-links .dropdown-user{
    right: 0;
    left: auto
}

.navbar-inverse {
    background: #333;
}

/* Sidebar Menu Styles */
.sidebar-search{
    padding: 15px
}

.arrow{
    float: right
}

.fa.arrow:before{
    content: "\f104"
}

.active>a>.fa.arrow:before{
    content: "\f107"
}

.nav-second-level li,.nav-third-level li{
    border-bottom: none!important
}

.nav-second-level li a{
    padding-left: 37px
}

.nav-third-level li a{
    padding-left: 52px
}

/* Buttons */
/* ------------------------------- */
.btn-outline{
    color: inherit;
    transition: all .5s
}

.btn-primary.btn-outline{
    color: #428bca
}

.btn-success.btn-outline{
    color: #5cb85c
}

.btn-info.btn-outline{
    color: #5bc0de
}

.btn-warning.btn-outline{
    color: #f0ad4e
}

.btn-danger.btn-outline{
    color: #d9534f
}

.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover,.btn-info.btn-outline:hover,.btn-warning.btn-outline:hover,.btn-danger.btn-outline:hover{
    color: #fff
}


/* Login Page */
.login-panel{
    margin-top: 25%
}

/* Flot Chart Containers */
.flot-chart{
    display: block;
    height: 400px
}

.flot-chart-content{
    width: 100%;
    height: 100%
}

/* DataTables Overrides */
table.dataTable thead .sorting,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{
    background: none
}

table.dataTable thead .sorting_asc:after{
    content: "\f0de";
    float: right;
    font-family: fontawesome
}

table.dataTable thead .sorting_desc:after{
    content: "\f0dd";
    float: right;
    font-family: fontawesome
}

table.dataTable thead .sorting:after{
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5)
}

/* Circle Buttons */
.btn-circle{
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429
}

.btn-circle.btn-lg{
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33
}

.btn-circle.btn-xl{
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33
}

.show-grid [class^="col-"]{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background: #eee!important
}

.show-grid{
    margin: 15px 0
}



/*
    Component: Small boxes
*/
.small-box {
  position: relative;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 15px;
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  animation-name: tansformAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: tansformAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}