.body {
	font-family: Sans-serif;
	font-size:13px;
	text-align : center;
}

.center {
	margin-left : auto;
	margin-right : auto;
}

p.quotes {
	font-family: "Courier New", Monospace;
	font-size: 12px;
	text-align: right;
	margin-right: 200px;
}

.title {
	font-family: Sans-serif;
	font-size:18px;
	text-align : center;
}

.sub-title {
	font-family: Sans-serif;
	font-size:16px;
	text-align : center;
}

.item {
	font-size:14px;
}

.sub-item {
	font-size:12px;
}

#copyright {
	font-family: Sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align : center;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.font-thin {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
}

.font-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.font-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}

* {
  position: relative;
}

.breaker {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #2f2f2f;
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
}

.justify-text {
  text-align: justify;
}

.navbar {
  background-color: #e4e6e5;
  background-color: rgba( 228, 230, 229, .85 );
  border-bottom: 0 none;
  font-size: 12px;
  transition: .25s all linear;
}

.navbar.inv {
  background-color: rgba( 0, 0, 0, .5 );
  border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
  color: #5f5f5f;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  transition: all .5 linear;
}

.navbar.inv a {
  color: #e4e6e5;
}


.navbar-responsive-collapse {
  margin: 0 auto;
  width: 80%;
}

.nav li {
  text-align: center;
  white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: inherit;
  outline: none;
}

.navbar-brand {
  padding: 8px;
}

.active-menu {
  background-color: #4e4e4e;
  content: '.';
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all .5 linear;
  width: 1%;
  z-index: 9;
}

.inv .active-menu {
  background-color: #e4e6e5;
}

.special-active-menu {
  z-index: 10;
}

#special-active-menu-1,
#special-active-menu-6 {
  background-color: #4e4e4e !important;
}

#special-active-menu-2 {
  background-color: #1abc9c !important;
}

#special-active-menu-3 {
  background-color: #e74c3c !important;
}

#special-active-menu-4 {
  background-color: #34495e !important;
}

#special-active-menu-5 {
  background-color: #e67e22 !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  #slide-4 .content-row h2 {
    min-height: 6em;
  }
}

@media (max-width: 767px) {
  
  .nav li {
    text-align: left;
    white-space: nowrap;
  }
  
  .navbar-responsive-collapse  {
    width: 100%;
  }
  
  .active-menu {
    display: none !important;
  }
  
  .navbar-toggle {
    margin-right: 10px;
  }
  
  .navbar {
    background-color: #e4e6e5 !important;
    padding: 0;
  }
  
  .navbar .nav a {
    color: #e4e6e5;
    font-size: 16px;
    padding-left: 0;
  }
  
  .icon {
    margin-right: 12px;
  }
      
  .nav li[data-slide="1"],
  .nav li[data-slide="6"] {
    background-color: #2f2f2f;
  }
  
  .nav li[data-slide="2"] {
    background-color: #1abc9c;
  }
  
  .nav li[data-slide="3"] {
    background-color: #e74c3c;
  }
  
  .nav li[data-slide="4"] {
    background-color: #34495e;
  }
  
  .nav li[data-slide="5"] {
    background-color: #e67e22;
  }
  
  .navbar-brand {
    margin: 0;
    text-align: left;
  }
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}


  
  #contact-row-4 {
    padding-top: 125px;
  }
  
  #contact-row-4 .col-12 {
    height: 175px;
    overflow: hidden;
    padding-top: 20px;
    transition: all ease-in .5s;
  }
  
  #contact-row-4 img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }
  
  #contact-row-4 .col-12:hover {
    height: 175px;
    padding-top: 0;
  }
  
  #contact-row-4 .col-12 .hover-text {
    display: none;
    font-size: 20px;
  }

#slide-7 {
  background-color: #e4e6e5;
  color: #4e4e4e;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
}

#lightbox-out {
  background-color: rgba( 0, 0, 0, 0.7 );
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.with-hover-text span {
  display: none;
}

.zoom {
  background-image: url('../images/zoom.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

#arrows {
  bottom: 10%;
  height: 80px;
  position: fixed;
  right: 10%;
  width: 80px;
  z-index: 1000;
}

#arrows div {
  background-image: url('../images/website-arrows.png');
  cursor: pointer;
  height: 30px;
  position: absolute;
  width: 30px;
}

#arrows div.disabled {
  cursor: default;
}

#arrow-up {
  background-position: 30px 0;
  left: 25px;
  top: 0;
}

#arrow-up.disabled {
  background-position: 0 0;
}

#arrow-down {
  background-position: 30px -30px;
  left: 25px;
  bottom: 0;
}

#arrow-down.disabled {
  background-position: 0 -30px;
}

#arrow-left {
  background-position: 30px -60px;
  left: 0;
  top: 25px;
}

#arrow-left.disabled {
  background-position: 0 -60px;
}

#arrow-right {
  background-position: 30px -90px;
  right: 0;
  top: 25px;
}

#arrow-right.disabled {
  background-position: 0 -90px;
}

.navigation-slide {
  cursor: pointer;
}

/* Global Styles */

/* ------------------------------- */

 body {
    background-color: #f8f8f8;
}


a {
  color: #999;
}

.font-thin {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
}

.font-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.font-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}

/* Wrappers */

/* ------------------------------- */

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Buttons */

/* ------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

 .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

/* Login Page */

 .login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

 .flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}