<script src="@routes.Assets.at("javascript/application/application/appModule.js")"></script>
<script src="@routes.Assets.at("javascript/application/application/directives.js")"></script>
<script src="@routes.Assets.at("javascript/application/application/controllers.js")"></script>
<script src="@routes.Assets.at("javascript/application/application/service.js")"></script>

<!-- item -->
<script src="@routes.Assets.at("javascript/application/item/itemModule.js")"></script>
<script src="@routes.Assets.at("javascript/application/item/controllers.js")"></script>
<script src="@routes.Assets.at("javascript/application/item/service.js")"></script>
<script src="@routes.Assets.at("javascript/application/item/directives.js")"></script>
