<script src="@routes.Assets.at("modules/application/javascripts/application/appModule.js")"></script>
<script src="@routes.Assets.at("modules/application/javascripts/application/directives.js")"></script>
<script src="@routes.Assets.at("modules/application/javascripts/application/controllers.js")"></script>
<script src="@routes.Assets.at("modules/application/javascripts/application/service.js")"></script>

<!-- item -->
<script src="@routes.Assets.at("modules/application/javascripts/item/itemModule.js")"></script>
<script src="@routes.Assets.at("modules/application/javascripts/item/controllers.js")"></script>
<script src="@routes.Assets.at("modules/application/javascripts/item/service.js")"></script>
<script src="@routes.Assets.at("modules/application/javascripts/item/directives.js")"></script>
