<script src="@routes.Assets.at("javascript/dashboard/controllers/controllers.js")"></script>

<!-- Dashboard -->
<script src="@routes.Assets.at("javascript/dashboard/dashboard/dashboardModule.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/dashboard/services/dashboardServices.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/dashboard/services/GetKPIService.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/dashboard/services/DashboardCache.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/dashboard/directives/kpiDirective.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/dashboard/controllers/dashboardController.js")"></script>

<!-- Overview -->
<script src="@routes.Assets.at("javascript/dashboard/overview/overviewController.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/overview/services/overviewServices.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/overview/services/overviewInitService.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/overview/models/AppOverviewModel.js")"></script>

<!-- Analytics below -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/detailedKpiModel.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/analytics/analyticsController.js")"></script>

<!-- ARPU -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/arpu/controllers/arpuController.js")"></script>

<!-- Total Revenue -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/revenue/controllers/revenueController.js")"></script>

<!-- Average Revenue Per Session -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/avgRevenueSession/controllers/avgRevenueSessionController.js")"></script>

<!-- Average Time Between Purchase -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/avgTimeBetweenPurchase/controllers/avgTimeBetweenPurchase.js")"></script>

<!-- Average Time First Purchase -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/avgTimeFirstPurchase/controllers/avgTimeFirstPurchase.js")"></script>

<!-- Average Purchases Per User -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/avgPurchasesPerUser/controllers/avgPurchasesPerUser.js")"></script>

<!-- Lifetime Value -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/ltv/controllers/ltv.js")"></script>

<!-- Paying Users -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/payingUsers/controllers/payingUsers.js")"></script>

<!-- Purchase -->
<script src="@routes.Assets.at("javascript/dashboard/analytics/purchasesPerSession/controllers/purchasePerSessionController.js")"></script>

<!-- Inventory -->
<script src="@routes.Assets.at("javascript/dashboard/inventory/services/inventoryServices.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/inventory/services/itemServices.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/inventory/services/bootstrapInventoryService.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/inventory/controllers/inventoryController.js")"></script>

<!-- Settings -->
<script src="@routes.Assets.at("javascript/dashboard/settings/services/settingsServices.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/settings/services/bootstrapSettingsService.js")"></script>
<script src="@routes.Assets.at("javascript/dashboard/settings/controllers/settingsController.js")"></script>
