<script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-local-storage.min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-resource.min.js"))"></script>
<script defer src="@routes.WebJarAssets.at(WebJarAssets.locate("underscore-min.js"))"></script>
<script defer src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.min.js"))"></script>
<script defer src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))"></script>
<script defer src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
<script defer src="@routes.WebJarAssets.at(WebJarAssets.locate("numeral.min.js"))"></script>
<!-- others -->
<script defer src="@routes.Assets.at("javascript/vendors/angular-file-upload.min.js")"></script>
<script defer src="@routes.Assets.at("javascript/vendors/angular-file-upload-html5-shim.min.js")"></script>
<!-- https://github.com/t4t5/sweetalert -->
<script defer src="@routes.Assets.at("javascript/vendors/sweet-alert.min.js")"></script>
<!-- https://github.com/durated/angular-scroll -->
<script defer src="@routes.Assets.at("javascript/vendors/angular-scroll.min.js")"></script>
<!-- AdminLTE App -->
<script defer src="@routes.Assets.at("javascript/vendors/app.js")"></script>

<!-- Chart dependencies -->
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("min/moment.min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("Chart.min.js"))"></script>
<script defer src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-chart.js"))"></script>

<!-- Angular stuff -->
<!-- app -->
<script defer src="@routes.Assets.at("javascript/app/app.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/services.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/controllers.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/events.js")"></script>
<!-- controllers -->
<script defer src="@routes.Assets.at("javascript/app/controllers/appController.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/controllers/loginController.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/controllers/tweakbarController.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/controllers/notAvailableYetController.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/controllers/sidebarController.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/controllers/navBarController.js")"></script>
<!-- services -->
<script defer src="@routes.Assets.at("javascript/app/services/submitLoginCredentialsService.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/services/SecurityHttpInterceptor.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/services/redirectToDashboardService.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/services/DateModel.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/services/CurrencyService.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/services/ApplicationStateService.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/services/LoginLogoutService.js")"></script>
<script defer src="@routes.Assets.at("javascript/app/services/UserVoiceService.js")"></script>

<!-- external stuff from other modules -->
@views.html.js.applicationJavascripts.render()
@views.html.js.userJavascripts.render()
@views.html.js.securityJavascripts.render()
@views.html.js.chartJavascripts.render()
@views.html.js.dashboardJavascripts.render()

<!-- everything else -->
<!--<script defer src="@routes.Assets.at("custom.js")"></script> -->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
