
  <!-- General KPIs -->
  <h1 class="dashboard-title" id="revenue"><i class="fa fa-money"></i> Revenue</h1>
  <div class="row">
    <kpi info="totalRevenue" view="viewMode" details="showDetails" class="align-left"></kpi>
    <kpi info="arpu" view="viewMode" details="showDetails"></kpi>
    <kpi info="avgRevSession" view="viewMode" details="showDetails" class="align-right"></kpi>
  </div>

  <!-- User KPIs -->
  <h1 class="dashboard-title" id="users"><i class="fa fa-user"></i> User</h1>
  <div class="row">
    <kpi info="ltv" view="viewMode" details="showDetails" class="align-left"></kpi>
    <kpi info="payingUsers" view="viewMode" details="showDetails"></kpi>
    <kpi info="avgPurchasesUser" view="viewMode" details="showDetails" class="align-right"></kpi>
  </div>

  <!-- Session KPIs -->
  <h1 class="dashboard-title" id="sessions"><i class="fa fa-clock-o"></i> Session</h1>
  <div class="row">
    <kpi info="purchasesPerSession" view="viewMode" details="showDetails" class="align-left"></kpi>
    <kpi info="numberSessionsFirstPurchase" view="viewMode" details="showDetails"></kpi>
    <kpi info="numberSessionsBetweenPurchases" view="viewMode" details="showDetails" class="align-right"></kpi>
  </div>

