<div class="col-md-4 col-xs-10">
  <div class="col-md-12 well panel panel-default glow profile dashboard-kpi" ng-click="switchDetailedView(kpi.link)">
    <div class="panel-heading">
      <h2 class="panel-title text-center">{{kpi.name}}</h2>
    </div>
    <div class="panel-body">
      <nvd3 options="kpi.chart.options" data="kpi.chart.data"></nvd3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Total Variation</th>
            <th>{{kpi.delta}} %</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

