<div class="col-md-4 col-xs-10">
  <div class="col-md-12 well panel panel-default glow profile dashboard-kpi" ng-click="switchDetailedView(kpi.link)">
    <div class="panel-heading">
      <h2 class="panel-title text-center">{{kpi.name}}</h2>
    </div>
    <div class="panel-body">
      <chart value="kpi.chart" type="Bar"></chart>
      <!-- <div class="row"> -->
      <!--   <div class="col-xs-12 col-sm-12 text-center"> -->
      <!--     <h3 ng-show="kpi.multiPlatform">Total</h3> -->
      <!--     <div class="col-xs-12 col-sm-6 text-center emphasis"> -->
      <!--       <h3><strong>{{kpi.unit}} {{kpi.value}} </strong></h3> -->
      <!--       <p><small>Total</small></p> -->
      <!--     </div> -->
      <!--     <div class="col-xs-12 col-sm-6 text-center emphasis"> -->
      <!--       <h3><strong>{{kpi.delta}} % </strong></h3> -->
      <!--       <p><small>Delta</small></p> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>

