      <div class="col-md-4 col-lg-4 kpi">
        <div class="col-md-12 well profile glow dashboard-kpi" ng-click="switchDetailedView(kpi.link)">
            <h1>{{kpi.name}}</h1>
            <br>
            <div class="divider text-center">
                <div class="col-xs-12 col-sm-6 emphasis">
                    <h2><strong>{{kpi.unit}} {{kpi.value}} </strong></h2>
                    <p><small>Total</small></p>
                </div>
                <div class="col-xs-12 col-sm-6 emphasis">
                    <h2><strong>{{kpi.delta}} % </strong></h2>
                    <p><small>Delta</small></p>
                </div>
            </div>
          </div>
      </div>