<div class="col-md-4 col-xs-10">
  <div class="well panel panel-default glow profile">
    <div class="panel-heading">
      <h2 class="panel-title text-center">Total Revenue</h2>
    </div>
    <div class="panel-body">
      <div class="row">       
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-12 text-center">
          <table class="table text-center">
            <thead>
              <tr>
                <th>Platform</th>
                <th>Value</th>
                <th>Delta</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="fa fa-apple"></i></td>
                <td>22</td>
                <td>2%</td>
              </tr>
              <tr>
                <td><i class="fa fa-android"></i></td>
                <td>100</td>
                <td>3%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12 col-sm-12 text-center">
          <h3>Total</h3>
          <div class="col-xs-12 col-sm-6 text-center emphasis">
            <h3><strong>43</strong></h3>
            <p><small>Total</small></p>
          </div>
          <div class="col-xs-12 col-sm-6 text-center emphasis">
            <h3><strong>43</strong></h3>
            <p><small>Delta</small></p>
          </div>
        </div>
        <!--/col-->
      </div>
      <!--/row-->
    </div>
    <!--/panel-body-->
  </div>
  <!--/panel-->
</div>
