<div class="row main-view">
  <div class="col-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div class="panel-title"><i class="fa fa-cog"></i> Account Settings</div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <h4>Personal Information</h4>
            <table class="table">
              <tr>
                <td><b>Name</b></td>
                <td>{{userInfo.name}}</td>
              </tr>
              <tr>
                <td><b>Email</b></td>
                <td>{{userInfo.email}}</td>
              </tr>
              <tr>
                <td><b>Company</b></td>
                <td>{{userInfo.companyName}}</td>
              </tr>
            </table>
            <br>
            <h4></h4>
            <table class="table">
              <h4>Application</h4>
              <tr>
                <td><b>Name</b></td>
                <td>{{appName}}</td>
              </tr>
              <tr>
              <td><b>SDK Token</b></td>
              <td>{{credentials.sdkToken}}</td>
              </tr>
              <tr>
              <td><b>Currency</b></td>
              <td>
                <span class="dropdown" dropdown on-toggle="toggled(open)">
                  <a href class="dropdown-toggle" dropdown-toggle>
                    {{currentCurrency}}
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="c in currencies">
                      <a href="#" ng-click="changeCurrency(c.name)"><i ng-class="c.cssSymboll"></i>{{c.name}}</a>
                    </li>
                  </ul>
                </span>
              </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
  
