<div class="row main-view">
  <div class="col-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div class="panel-title"><i class="fa fa-cog"></i> Account Settings</div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <h4>Personal Information</h4>
            <table class="table">
              <tr>
                <td><b>Name</b></td>
                <td>{{userInfo.name}}</td>
              </tr>
              <tr>
                <td><b>Email</b></td>
                <td>{{userInfo.email}}</td>
              </tr>
              <tr>
                <td><b>Company</b></td>
                <td>{{userInfo.companyName}}</td>
              </tr>
            </table>
            <br>
            <h4>Application Information</h4>
            <table class="table">
              <tr>
                <td><b>Name</b></td>
                <td>{{appName}}</td>
              </tr>
              <tr>
              <td><b>SDK Token</b></td>
              <td>{{credentials.sdkToken}}</td>
              </tr>
              <tr>
              <td><b>Currency</b></td>
              <td>
                <span class="dropdown" dropdown on-toggle="toggled(open)">
                  <a href class="dropdown-toggle" dropdown-toggle>
                    {{currentCurrency}}
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="c in currencies">
                      <a href="#" ng-click="changeCurrency(c.name)"><i ng-class="c.cssSymboll"></i>{{c.name}}</a>
                    </li>
                  </ul>
                </span>
              </td>
              </tr>
            </table>
            <h4>Payments information</h4>
            <form class="form-horizontal" ng-submit="savePaymentChanges()">
              <!-- PayPal Logo -->
              <img src="@controllers.dashboard.routes.Assets.at("images/pp-logo-100px.png")" border="0" alt="PayPal Logo" style="padding-bottom:1em;"><!-- PayPal Logo -->
              <div class="form-group">
                <label for="inputppClientId" class="col-sm-2 control-label">ID</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputppClientId" ng-model="payPalCredentials.clientId" placeholder="{{payPalCredentials.clientId}}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputppSecret" class="col-sm-2 control-label">Secret</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputppSecret" ng-model="payPalCredentials.secret" placeholder="{{payPalCredentials.secret}}" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
  
