@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("1.2.5/angular.min.js"))"></script>
        <script src="@controllers.editor.routes.Assets.at("javascripts/editor/app.js")"></script>
        <script src="@controllers.editor.routes.Assets.at("javascripts/editor/controllers.js")"></script>
        <script src="@controllers.editor.routes.Assets.at("javascripts/editor/services.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
