<!-- Table with total results and variations -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Total Results</h3>
  </div>
	<div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Type</th>
            <th>{{context.model.name}}</th>
            <th>Previous result</th>
            <th>Compared to Previous</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="platform in context.model.platforms">
            <th scope="row">{{platform.platform}}</th>
            <td>{{platform.value}}</td>
            <td>{{platform.previous}}</td>
            <td ng-class="{'kpi-delta-positive': platform.delta > 0, 'kpi-delta-negative': platform.delta < 0, '': platform.delta == 0}">{{platform.delta}} %
              <i ng-class="{'fa fa-arrow-up': platform.delta > 0, 'fa fa-arrow-down': platform.delta < 0, 'fa fa-minus': platform.delta == 0}"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">Total</th>
            <td>{{context.model.value}}</td>
            <td>{{context.model.previous}}</td>
            <td ng-class="{'kpi-delta-positive': context.model.delta > 0, 'kpi-delta-negative': context.model.delta < 0, '': context.model.delta == 0}">{{context.model.delta}} %
              <i ng-class="{'fa fa-arrow-up': context.model.delta > 0, 'fa fa-arrow-down': context.model.delta < 0, 'fa fa-minus': context.model.delta == 0}"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
	</div>
</div>
<!-- Chart section -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Results</h3>
  </div>
	<div class="panel-body">
    <nvd3 options="options" data="data" api="api" config="{extended: true}"></nvd3>
  </div>
</div>
