<!-- Table with total results and variations -->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-table" style="margin-right: 10px;"></i> Total Results</div>
  </div>
	<div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Platforms</th>
            <th>Payment Systems</th>
            <th>{{context.model.name}}</th>
            <th>Previous result</th>
            <th>Compared to Previous</th>
          </tr>
        </thead>
        <tbody ng-repeat="platform in context.model.platforms">
          <tr>
            <th scope="row" rowspan="4" class="text-center" style="vertical-align: middle;">{{platform.platform}}</th>
            <!-- Payment Systems Info-->
            <tr ng-repeat="paymentSystem in platform.paymentSystems">
              <td>{{paymentSystem.system|wzPaymentSystemFilter}}</td>
              <td class="kpiValue" style="font-weight: bold;">{{paymentSystem.value|number:2|wzCurrencyFilter:context.model.name}}</td>
              <td class="kpiValue" style="font-weight: bold;">{{paymentSystem.previous|number:2|wzCurrencyFilter:context.model.name}}</td>
              <td ng-class="{'kpi-delta-positive': paymentSystem.delta > 0, 'kpi-delta-negative': paymentSystem.delta < 0, 'kpi-delta': paymentSystem.delta == 0}">{{paymentSystem.delta|number:2}} %
                <i ng-class="{'fa fa-arrow-up': paymentSystem.delta > 0, 'fa fa-arrow-down': paymentSystem.delta < 0, 'fa fa-minus': paymentSystem.delta == 0}"></i>
              </td>
            </tr>

            <!-- Platform Total results-->
            <tr scope="row" ng-show="{{platform.paymentSystems.length > 1}}">
              <td>Total</td>
              <td class="kpiValue" style="font-weight: bold;">{{platform.value|number:3|wzCurrencyFilter:context.model.name}}</td>
              <td class="kpiValue" style="font-weight: bold;">{{platform.previous|number:2|wzCurrencyFilter:context.model.name}}</td>
              <td ng-class="{'kpi-delta-positive': platform.delta > 0, 'kpi-delta-negative': platform.delta < 0, 'kpi-delta': platform.delta == 0}">{{platform.delta|number:2}} %
                <i ng-class="{'fa fa-arrow-up': platform.delta > 0, 'fa fa-arrow-down': platform.delta < 0, 'fa fa-minus': platform.delta == 0}"></i>
              </td>
            </tr>
          </tr>
        </tbody>
        <!-- Only show accum results if there's more than one platform -->
        <tbody ng-show="{{context.model.platforms.length > 1}}">
          <tr>
            <th scope="row" colspan="2" class="text-center">Total</th>
            <td class="kpiValue" style="font-weight: bold;">{{context.model.value|number:2|wzCurrencyFilter:context.model.name}}</td>
            <td class="kpiValue" style="font-weight: bold;">{{context.model.previous|number:2|wzCurrencyFilter:context.model.name}}</td>
            <td ng-class="{'kpi-delta-positive': context.model.delta > 0, 'kpi-delta-negative': context.model.delta < 0, 'kpi-delta': context.model.delta == 0}">{{context.model.delta|number:2}} %
              <i ng-class="{'fa fa-arrow-up': context.model.delta > 0, 'fa fa-arrow-down': context.model.delta < 0, 'fa fa-minus': context.model.delta == 0}"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
	</div>
</div>
<!-- Chart section -->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-bar-chart-o" style="margin-right: 10px;"></i> {{context.model.name}} Results</div>
  </div>
	<div class="panel-body">
    <canvas id="line" class="chart chart-line" data="context.chart.data"
            labels="context.chart.labels" legend="true" series="context.chart.series"
            click="onClick" colours="context.chart.colours" options="context.chart.options">
    </canvas>
  </div>
</div>
