<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
  @views.html.sidebar.render()
  @views.html.navigationBar.render()
  <div class="panel panel-default main-view" ng-controller="TweakBarController" ng-show="showBar" style="margin-right: 1em;">
    <div class="panel-heading control-bar">
      <div class="row">
        <div class="col-xs-5">
            <ul class="list-inline storeSelect">
              <li><h5>Platforms</h5></li>
              <li>
                <div class="iOSstoreSelect">
                  <input type="checkbox" id="iOSPlatformSelect" ng-model="platforms.iOS">
                  <label for="iOSPlatformSelect"></label>
                </div>
              </li>
              <li>
                <div class="androidstoreSelect">
                  <input type="checkbox" ng-model="platforms.Android" id="AndroidPlatformSelect">
                  <label for="AndroidPlatformSelect"></label>
                </div>
              </li>
              <li>
                <h5>Payment Systems</h5>
              </li>
              <li ng-repeat="system in paymentSystems">
                <i ng-class="{'fa fa-credit-card fa-2x': system == 1, 'fa fa-cc-paypal fa-2x': system == 2}"
                   style="color: #34495E; margin-left: 2px;"></i>
              </li>
            </ul>
        </div><!-- col-xs-3 platforms section -->
        <div class="col-xs-2 results-toolbar">
          <button class="btn btn-default" ng-click="showDetails()" ng-show="showDetailsButton" style="width: 100%;"><i ng-class="{'fa fa-compress': !hideDetails, 'fa fa-expand': hideDetails}"></i> {{showDetailsButtonText}}</button>
        </div>
        <div class="col-xs-2">
          <p class="input-group">
            <input type="text" class="form-control" ng-change="updateEndDateMin()" show-button-bar="false" datepicker-popup="{{format}}" ng-model="beginDate" is-open="beginDateOpened" min-date="minDate" max-date="maxDate" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openBeginDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-xs-2">
          <p class="input-group">
            <input type="text" class="form-control" show-button-bar="false" datepicker-popup="{{format}}" ng-model="endDate" is-open="endDateOpened" min-date="endDateMin" max-date="maxDate" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-xs-1" style="padding-left:2px">
          <button type="button" class="btn btn-success call-to-action" ng-click="updateKPIs()">Update</button>
        </div>
      </div><!-- row -->
    </div> <!-- panel heading -->
  </div> <!-- panel-default -->
  <div class="main-view" ui-view>
  </div>
</div>
