<div class="wrapper row-offcanvas row-offcanvas-left">
  <!-- Left side column. contains the logo and sidebar -->
  @views.html.sidebar.render()

  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-controller="TweakBarController" ng-model="page" style="height:61px">
      <div class="row">
        <div class="col-md-4" ng-show="showDashboardViewOptions">
          <ul class="list-inline">
            <li><h5>{{viewText}}</h5></li>
            <li>
              <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn" ng-click="updateView(0)">
                  <input type="radio"><i class="fa fa-bar-chart-o"></i>
                </label>
                <label class="btn btn" ng-click="updateView(1)">
                  <input type="radio"><i class="fa fa-table"></i>
                </label>
              </div>
            </li>
            <li>
              <button class="btn btn-success call-to-action" ng-click="showDetails()" ng-show="showDetailsButton">Show details</button>   
            </li>
          </ul>
          
          <!-- <h4 ng-show="page == 'Overview'">{{page}}</h4> -->
          <!-- <h4 ng-hide="page == 'Overview'">{{applicationName}} / {{page}}</h4> <\!--TODO: use bootstrap breadcrumbs instead -\-> -->
        </div> <!-- col-md-4 -->
        <div class="col-md-3">
          <div class="col-md-4">
            <h5>Platforms</h5>
          </div>
          <div class="col-md-8">
            <ul class="list-inline storeSelect">
              <li>
                <div class="iOSstoreSelect">
                  <input type="checkbox" id="iOSPlatformSelect" ng-model="platforms.iOS">
                  <label for="iOSPlatformSelect"></label>
                </div>
              </li>
              <li>
                <div class="androidstoreSelect">
                  <input type="checkbox" ng-model="platforms.Android" id="AndroidPlatformSelect">
                  <label for="AndroidPlatformSelect"></label>
                </div>                
              </li>
            </ul>
          </div>        
        </div>
        <div class="col-md-2">
          <p class="input-group">
            <input type="text" class="form-control" ng-change="updateEndDateMin()" show-button-bar="false" datepicker-popup="{{format}}" ng-model="beginDate" is-open="beginDateOpened" min-date="minDate" max-date="maxDate" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openBeginDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-md-2">
          <p class="input-group">
            <input type="text" class="form-control" show-button-bar="false" datepicker-popup="{{format}}" ng-model="endDate" is-open="endDateOpened" min-date="endDateMin" max-date="maxDate" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-success call-to-action" ng-click="updateKPIs()">Update</button>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div ui-view></div>
    </section>

  </aside>
</div>
