@(title: String = "Wazza")(js: Html)(body: Html)

<!DOCTYPE html>


@stylesheets = {
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!-- TODO: Colocar favicon -->
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
}

<html lang="en-GB" ng-app="Wazza">

<head>
	<title>@title</title>
	<meta name="description" content="Wazza - In-App Purchases made simple" />
	<meta name="author" content="Wazza" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	@stylesheets
	@js
</head>

<body class="body">
	<div class="container-fluid center-block">
		<div id="home-row-1" class="row clearfix">
			<div class="col-12">
				<img src="@routes.Assets.at("images/letter-logo.png")">
			</div>
			@body
		</div>
	</div>

	<h4 class="font-semibold"><br>&copy; 2014 Wazza <span class="font-thin"> - All Rights Reserved</span></h4>

</body>
</html>