       <!-- Modal -->
        <div class="modal fade" id="contacts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Contacts</h4>
              </div>
              <div class="modal-body">
                <address>
                  <strong>Wazza, Inc.</strong><br>
                  StartupLisboa<br>
                  Portugal, Planet Earth<br>
                  Milky Way (Last time I checked!)
                </address>

                <address>
                  <strong>Support</strong><br>
                  <a href="mailto:#">support@@usewazza.com</a>
                </address>
                <a href="https://twitter.com/UseWazza"><i class="fa fa-twitter-square"></i></a>
                <a href="http://www.linkedin.com/company/3231708?trk=tyah"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://www.facebook.com/usewazza"><i class="fa fa-facebook-square"></i></a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">About</h4>
              </div>
              <div class="modal-body">
                <img src="@routes.Assets.at("images/letter-logo-black.png")">
                <h1 class="font-semibold">Virtual Store <span class="font-thin">as a Service</span></h1>
                <h2 class="cover-heading font-thin">an all-in-one in-app purchase solution</h2>
                <a href="http://www.usewazza.com/" class="btn btn-lg btn-default">Learn more</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
