        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            /*@views.html.sidebar.render()*/
            <div ui-view="sidebar"></div>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header" ng-controller="NavBarController" ng-model="page">
                    <h1>{{page}}</h1>
                </section>

                <!-- Main content -->
                <section class="content">
                  <div ui-view="content"></div>
                </section>

            </aside>
        </div>
