<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<html ng-app="Wazza" ng-csp>
  <head>
    <base href="/">
    <title>Wazza - Analytics for In-App Purchases</title>
    <meta name="description" content="Wazza - Analytics for In-App Purchases" />
    <meta name="author" content="Wazza" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @views.html.stylesheets.render()
    @views.html.js.javascripts.render()
    <script type="text/javascript" src="@routes.Assets.at("javascript/vendors/mixpanel-bootstrap.js")"></script>
  </head>
  <body ng-controller="AppController" class="skin-blue">
    <div ui-view></div>
  </body>

  <script type="text/javascript" src="@routes.Assets.at("javascript/vendors/uservoice_bootstrap.js")"></script>
</html>
