<!DOCTYPE html>
<html lang="en-GB">
<head>
	<title>Wazza - In-App Purchases made simple</title>
	<meta name="description" content="Wazza - In-App Purchases made simple" />
	<meta name="author" content="Wazza" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">

	<!-- TODO: Colocar favicon -->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<!-- TODO: Colocar analytics -->

</head>
<body class="body">

	<div class="container-fluid center-block">
		<div id="home-row-1" class="row clearfix">
			<div class="col-12">
				<img src="@routes.Assets.at("images/letter-logo.png")">
				<h1 class="font-semibold">Virtual Store <span class="font-thin">as a Service</span></h1>
				<h2 class="cover-heading font-thin">an all-in-one in-app purchase solution</h2>
				<br>
				<br>
				<p class="lead font-semibold">
					<a href="http://www.usewazza.com/" class="btn btn-lg btn-default">Learn more</a>
					<a href="dashboard" class="btn btn-lg btn-default">Join Us</a>
					<a href="login" class="btn btn-lg btn-default">Login</a>
				</p>
			</div>
		</div>
	</div>


	<h4 class="font-semibold"><br>&copy; 2014 Wazza <span class="font-thin"> - All Rights Reserved</span></h4>

</body>
</html>