@(title: String = "Wazza - In-App Purchases made simple")

<!DOCTYPE html>

@javascripts = {
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("1.2.16/angular.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("1.2.16/angular-route.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("1.2.16/angular-cookies.min.js"))"></script>
  <script defer src="@routes.WebJarAssets.at(WebJarAssets.locate("underscore-min.js"))"></script>
  <script defer src="@routes.Assets.at("javascripts/angular-file-upload.min.js")"></script>
  <script defer src="@routes.Assets.at("javascripts/angular-file-upload-html5-shim.min.js")"></script>
  <script defer src="@routes.Assets.at("javascripts/app.js")"></script>
  <script defer src="@routes.Assets.at("javascripts/services.js")"></script>
  <script defer src="@routes.Assets.at("javascripts/controllers.js")"></script>
  <script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script defer src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>

  <!-- controllers -->
  @views.html.applicationJavascripts.render()

  @views.html.userJavascripts.render()

  @views.html.securityJavascripts.render()

  @views.html.dashboardJavascripts.render()

  <!-- Charts -->
  <script defer src="http://code.highcharts.com/highcharts.js"></script>

  <!-- AdminLTE App -->
  <script defer src="@routes.Assets.at("app.js")"></script>
  <!-- everything else -->
  <script defer src="@routes.Assets.at("custom.js")"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
}

@stylesheets = {
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
  <!-- TODO: Optimize CSS again.. -->
  

  <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" media="screen" href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext'>
  <link rel="shortcut icon" href="@routes.Assets.at("images/wazza_icon_black-01.png")">

  <!-- Ionicons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css"/>
  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/AdminLTE.css")" />

  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/appEditor.css")">

  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/item.css")">
}

<html ng-app="Wazza">
  <head>
    <title>@title</title>
    <meta name="description" content="Wazza - All-in-one In-App Purchases solution" />
    <meta name="author" content="Wazza" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @stylesheets
    @javascripts
  </head>
<body class="login-screen" ng-controller="AppController">
      @views.html.navigationBar.render()
      <section ng-hide="authOK">
        <div class="bg-black" ng-controller="LoginController">
            <div class="row text-center">
              <br><br><br><br>
              <img src="@routes.Assets.at("images/wazza_lettering_white-01.png")"/>
            </div>

                <div class="form-box" id="login-box">
                    <div class="header">Sign In</div>
                    <form accept-charset="UTF-8" role="form" method="post" ng-submit="signIn()">
                        <fieldset class="body bg-gray">
                          <div class="form-group has-error" ng-class="loginForm.css">
                            <label class="control-label" ng-show="errors.show" for="loginEmail">{{errors.content}}</label>
                            <input id="loginEmail" class="form-control" ng-model="loginForm.email" placeholder="E-mail" name="email" type="email" required>
                          </div>
                          <div class="form-group has-error" ng-class="loginForm.css">
                            <label class="control-label" ng-show="errors.show" for="loginPassword">{{errors.content}}</label>
                            <input id="loginPassword" class="form-control" ng-model="loginForm.password" placeholder="Password" name="password" type="password" value="" required>
                          </div>
                          <!--input class="btn btn-lg btn-success btn-block" type="submit" value="Login"-->
                        </fieldset>
                        <div class="footer">
                            <button type="submit" class="btn bg-olive btn-block" value="Login">Sign me in</button>
                            <!--a class="btn bg-olive btn-block text-center" href="/register">Register a new membership</a-->
                        </div>
                    </form>
                </div>
        </div>
      </section>

      <section ng-show="authOK">
     
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            @views.html.sidebar.render()

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header" ng-controller="NavBarController" ng-show="showNavBar" ng-model="page">
                    <h1>
                        {{page}}
                        <span ng-show="page === 'Dashboard'">
                              <small>Control panel</small>
                        </span>
                        <span ng-show="page === 'Analytics'">
                              <small><a href="/analyticsApp"><!--i class="fa fa-dashboard"></i--> App</a></small>
                              <small><a href="/analyticsUser"><!--i class="fa fa-dashboard"></i--> User</a></small>
                              <small><a href="/analyticsRevenue"><!--i class="fa fa-dashboard"></i--> Revenue</a></small>
                              <small><a href="/analyticsDevice"><!--i class="fa fa-dashboard"></i--> Device</a></small>
                        </span>
                        
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">
                  <div ng-view></div>
                </section><!-- /.content -->

            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
      </section>
  </body>
</html>
