<script src="@routes.WebJarAssets.at(WebJarAssets.locate("1.2.6/angular.js"))"></script>
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("1.2.6/angular-route.js"))"></script>
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("1.2.6/angular-cookies.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("0.10.0/ui-bootstrap.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("0.10.0/ui-bootstrap-tpls.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("underscore-min.js"))"></script>
  <script src="@routes.Assets.at("javascripts/angular-file-upload.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/angular-file-upload-html5-shim.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/app.js")"></script>
  <script src="@routes.Assets.at("javascripts/services.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers.js")"></script>

  <script src="@controllers.application.routes.Assets.at("javascripts/application/appModule.js")"></script>
  <script src="@controllers.application.routes.Assets.at("javascripts/application/controllers.js")"></script>
  <script src="@controllers.application.routes.Assets.at("javascripts/application/service.js")"></script>

  <script src="@controllers.application.routes.Assets.at("javascripts/item/itemModule.js")"></script>
  <script src="@controllers.application.routes.Assets.at("javascripts/item/controllers.js")"></script>
  <script src="@controllers.application.routes.Assets.at("javascripts/item/service.js")"></script>
  <script src="@controllers.application.routes.Assets.at("javascripts/item/directives.js")"></script>

  <script src="@controllers.user.routes.Assets.at("javascripts/userModule.js")"></script>
  <script src="@controllers.user.routes.Assets.at("javascripts/controllers.js")"></script>
  <script src="@controllers.user.routes.Assets.at("javascripts/service.js")"></script>
  <script src="@controllers.user.routes.Assets.at("javascripts/directives.js")"></script>

  <script src="@controllers.security.routes.Assets.at("javascripts/securityModule.js")"></script>
  <script src="@controllers.security.routes.Assets.at("javascripts/services.js")"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>