<div class="container-fluid center-block">
		<div id="row vertical-offset-100" style="padding-top:100px" class="row clearfix">
			<div class="col-12">
				<img src="@routes.Assets.at("images/letter-logo.png")">
				<h1 class="font-semibold">Virtual Store <span class="font-thin">as a Service</span></h1>
				<h2 class="cover-heading font-thin">an all-in-one in-app purchase solution</h2>
				<br>
				<br>
				<p class="lead font-semibold">
					<a href="login" class="btn btn-lg btn-default">Login</a>
					<a href="http://www.usewazza.com/" class="btn btn-lg btn-default">Learn more</a>
				</p>
			</div>
		</div>
	</div>

	<h4 class="font-semibold"><br>&copy; 2014 Wazza <span class="font-thin"> - All Rights Reserved</span></h4>
