<head>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")">
    <!-- Add custom CSS here -->
    <!--link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom.css")"-->
</head>

    <div class="top">
        <!-- Header -->
        <nav class="navbar navbar-default navbar-top header" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="/"><img src="@routes.Assets.at("images/wazza_logo_white2.png")" alt="Wazza Logo" class="logo-landing"></a>
                </div>
                <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse navbar-mobile">
                    <ul class="nav navbar-nav">
                        <li><a href="/about">About</a></li>
                        <!--li><a href="#pricing">Pricing</a></li-->
                        <li><a href="/how">How does it work?</a></li>
                        <li><a href="/login">Log in</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container" ng-controller="LoginController">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div class="header">Sign In</div>
          <form accept-charset="UTF-8" role="form" method="post" ng-submit="signIn()">
            <fieldset class="body">
              <div class="body">
                <div class="form-group" ng-class="loginForm.css">
                  <label class="control-label" ng-show="errors.show" for="loginEmail">{{errors.content}}</label>
                  <input type="email" required name="email" ng-model="loginForm.email" class="form-control" placeholder="User ID" id="loginEmail" />
                </div>
                <div class="form-group" ng-class="loginForm.css">
                  <label class="control-label" ng-show="errors.show" for="loginPassword">{{errors.content}}</label>
                  <input type="password" name="password" class="form-control" placeholder="Password" value="" required ng-model="loginForm.password" id="loginPassword"/>
                </div>          
                <div class="form-group">
                  <input type="checkbox" name="remember_me"/> Remember me
                </div>
              </div>

            </fieldset>

            <div class="footer">                                                               
              <button type="submit" class="btn btn-lg btn-success call-to-action" value="Login">Log me in</button>
              <br>
              <!--p><a href="#">I forgot my password</a></p-->
            </div>
          </form>
          <br><br>
        </div>
      </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="/">Home</a></li>
                        <li>&sdot;</li>
                        <!--li><a href="/about">About</a></li>
                        <li>&sdot;</li-->
                        <li><a href="http://wazza-blog.azurewebsites.net/">Blog</a></li>
                        <li>&sdot;</li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
            <br>
                <div class="col-lg-12 text-center">
                    <ul class="list-inline">
                        <li><a href="http://www.linkedin.com/company/wazza-mobile"><i class="fa fa-linkedin share-icons"></i></a></li>
                        <li><a href="https://twitter.com/wazza_io"><i class="fa fa-twitter share-icons"></i></a></li>
                        <li><a href="https://www.facebook.com/wazzaio"><i class="fa fa-facebook share-icons"></i></a></li>
                    </ul>                   
                </div>
            </div>
            <p class="copyright text-center medium">Copyright &copy; Wazza 2014. All Rights Reserved</p>
        </div>

    </footer>





<!--div class="bg-black" ng-controller="LoginController">
  <div class="row text-center">
    <br><br><br><br>
    <img src="@routes.Assets.at("images/wazza_lettering_white-01.png")"/>
  </div>

  <div class="form-box" id="login-box">
    <div class="header">Sign In</div>
    <form accept-charset="UTF-8" role="form" method="post" ng-submit="signIn()">
      <fieldset class="body bg-gray">
        <div class="form-group has-error" ng-class="loginForm.css">
          <label class="control-label" ng-show="errors.show" for="loginEmail">{{errors.content}}</label>
          <input id="loginEmail" class="form-control" ng-model="loginForm.email" placeholder="E-mail" name="email" type="email" required>
        </div>
        <div class="form-group has-error" ng-class="loginForm.css">
          <label class="control-label" ng-show="errors.show" for="loginPassword">{{errors.content}}</label>
          <input id="loginPassword" class="form-control" ng-model="loginForm.password" placeholder="Password" name="password" type="password" value="" required>
        </div>
        <div class="form-group">
          <input type="checkbox" name="remember_me"/> Remember me
        </div>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
      </fieldset>
      <div class="footer">                                                               
        <button type="submit" class="btn bg-olive btn-block" value="Login">Sign me in</button>  
        
        <p><a href="#">I forgot my password</a></p>
        
        <a href="/register" class="text-center">Register a new membership</a>
      </div>
    </form>

    <div class="margin text-center">
      <span>Sign in using social networks</span>
      <br/>
      <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
      <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
      <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

    </div>
  </div>
</div-->
