@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("1.2.5/angular.min.js"))"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
        <script src="@routes.Assets.at("javascripts/services.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers.js")"></script>


        <script src="@controllers.application.routes.Assets.at("javascripts/application/appModule.js")"></script>
        <script src="@controllers.application.routes.Assets.at("javascripts/application/controllers.js")"></script>
        <script src="@controllers.application.routes.Assets.at("javascripts/application/service.js")"></script>

    </head>
    <body>
        @content
    </body>
</html>
