@(title: String)

<!DOCTYPE html>

<html ng-app="Wazza">
    <head>
        <title>@title</title>
        @stylesheets()
        @javascripts()
        @views.html.dashboardJavascripts.render()
    </head>
    <body>
    <div id="wrapper">
      @views.html.sidebar.render()
      @views.html.navigationBar.render()
      <div id="page-content-wrapper">
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-12">
                <div ng-view></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script type="text/javascript">
  $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("active");
  });
</script>
</html>
