@dashboardSection = {
<div>
  <ul class="nav navbar-nav">
  <li class="dropdown" ng-controller="DashboardController">
      <a href="#" class="dropdown-toggle glyphicon" data-toggle="dropdown">Add<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#" ng-click="addItem()">Virtual Currency</a></li>
        <li><a href="#" ng-click="open()">In-app Purchase</a></li>
      </ul>
  </li>
  <!--
  <li class="dropdown" ng-controller="DashboardController">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Change Application<b class="caret"></b></a>
      <ul class="dropdown-menu" ng-repeat="application in applications">
        <li><a href="#">{{application}}</a></li>
      </ul>
  </li>
  -->
  </ul>
  <div class="col-sm-3 col-md-3">
      <form class="navbar-form" role="search" ng-submit="">
      <div class="input-group">
          <input type="text" ng-model="itemName" ng-change="sendItemSearchEvent()" class="form-control" placeholder="Search Items" name="q">
      </div>
      </form>
  </div>
</div>
}


<nav class="navbar navbar-default" role="navigation" ng-controller="NavBarController" ng-show="showNavBar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand">{{applicationName}}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    @dashboardSection
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-show="sessionOn" ng-href='/newapp'>New Application</a></li>
      <li><a ng-show="sessionOn" class="glyphicon glyphicon-log-out" ng-click="logout()"></a></li>
    </ul>
  </div>
</nav>
