<header class="header" ng-controller="NavBarController" ng-show="authOK" id="navbar">
    
    <!-- header logo: style can be found in header.less -->
    <a ui-sref="analytics.overview" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        <img src="@routes.Assets.at("images/wazza_logo_white2.png")" alt="wazza logo" style="width:200px"/>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu" ng-model="userInfo.name">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>{{userInfo.name}} <i class="caret"></i></span>
                    </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a ui-sref="home.notavailableyet" class="btn btn-default btn-flat" style="color:black">Settings</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a ng-click="logout()" class="btn btn-default btn-flat" style="color:black">Sign out</a></li>
                      </ul>
                </li>
            </ul>
        </div>
    </nav>

</header>
