  <nav class="nav navbar navbar-inverse navbar-static-top" role="navigation" ng-controller="NavBarController" ng-show="showNavBar" id="navbar">
      <a class="navbar-header navbar-brand" href="/home"><img src="@routes.Assets.at("images/letter-logo.png")" alt="wazza logo"/></a>
      <p class="navbar-text">In App purchases made simple.</p>
        <div class="navbar-right dropdown">
          <p class="navbar-text" ng-model="userInfo.name">{{userInfo.name}}</p>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="fa fa-user fa-fw"></span> <span class="fa fa-caret-down"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-show="sessionOn" ng-href='/newapp'><span class="fa fa-edit fa-fw"></span>New Application</a></li>
            <li><a href="/user"><span class="fa fa-user fa-fw"></span> User Profile</a></li>
            <li><a href="/settings"><span class="fa fa-gear fa-fw"></span> Settings</a></li>
            <li class="divider"></li>
            <li><a ng-show="sessionOn" ng-click="logout()"><span class="fa fa-sign-out fa-fw"></span> Logout</a>
            </li>
          </ul>
      
        </div>
        
  </nav>
