<div class="container">
  <div class="row">
    <div class="col-lg-9">

<h1 class='page-header'>
Privacy Policy of Site and Wazza
</h1>
<div class='documentation-section'>
<h3 id='introduction'>
1. Introduction
</h3>
<p>
1.1. Your access to, and use of the Site and of Wazza (collectively the “Service”) is subject to the following privacy policy ("Privacy Policy") and all applicable laws.
</p>
<p>
1.2. This Privacy Policy is part of the Terms and Conditions of the Service.
</p>
<p>
1.3. This Privacy Policy rules the collection and processing of personal information disclosed by Users through the Service as well as the exercise of their rights of access regarding this information, under the applicable Personal Data Protection Law. We encourage you to read this Privacy Policy before you provide Wazza any personal information.
</p>
<p>
1.4. By accessing and using the Service, you are consenting to this Privacy Policy. If you do not agree to this Privacy Policy, please do not use the Service.
</p>
</div>
<div class='documentation-section'>
<h3 id='controller'>2.  Controller</h3>
<p>
2.1. Wazza is the controller of the personal data of the User collected through the Service.
</p>
</div>
<div class='documentation-section'>
<h3 id='data-collected-by-Wazza'>3. Data collected by Wazza</h3>
<p>
3.1. Opening an account
<br>
Users shall provide a set of information for opening an account.
<br>
If applicable, the User declares that is has obtained the required consent from its employees for communicating to Wazza their personal data as required for opening and managing the account. “Employees” shall include any legal person or individual providing services to User, including legal representatives providing their data in the process of opening an account, as well as employees, agents, service providers and consultants, regardless of the nature and validity of the relationship between them and User.
<br>
3.2. Data relating to the use of the account
<br>
Wazza may collect usage information created by your use of the Service. Usage information includes date and time you accessed the Service, as well as pages, date and time of log-on and log-off, number of Service visits, sessions’ information (such as duration of session, the sending and receiving internet protocol addresses, the terminal identification number and events attended.
<br>
3.3.  Cookies and IP addresses
<br>
Wazza may collect information about you through automated processes, such as cookies and IP addresses. These technologies collect information relating to your browsing.
<br>
A "cookie" is a non-executable element of data that a website can send to your browser when you link to that site. By assigning a unique data element to each visitor, the website is then able to recognize repeat users, track usage patterns and better serve you when you return to that site. This helps us to enhance your online experience. Cookies can either be permanent (i.e., they remain on your computer until you delete them) or temporary (i.e. they last only until you close your browser).
<br>
The IP address is the number allocated to the computer whenever you connect to the Internet.
<br>
Wazza may process this information for creating a more complete browsing experience, to improve our services and to adapt them to the Users’ preferences.
<br>
Cookies and IP addresses do not automatically extract identifiable personal information about you.
<br>
Wazza will only use cookies provided you have accepted them.
<br>
3.4.  Data provided in information requests
<br>
Wazza may process information you make available when you request information to Wazza. In this case, Wazza will use the information to respond to your query.
<br>
3.5.  Wazza does not knowingly solicit or collect personal or other information from children under the age of 18 through the Service. If Wazza learns at any time that Wazza has inadvertently collected personal information from a minor, Wazza will promptly delete the information from its records.
</p>
</div>
<div class='documentation-section'>
<h3 id='use-of-personal-data'>4. Use of personal data</h3>
<p>
4.1. Wazza may use the personal data for purposes of providing the Service and to communicate with you. Wazza may also use it for updating and developing its Service with a view to adapt it to market trends and preferences.
<br>
4.2. Wazza may further use the data, subject to your consent, for the following: to know you better and adapt the Service to your preferences, for market studies and statistics, to send you communications relating to campaigns and promotions, including by email and SMS and other means which permit the reception of messages without the need for the recipient to accept them.
<br>
4.3. Wazza may also use aggregated data for market studies and statistics, including for promotional and advertising purposes of the Service, as well as to show the market trends and the status of the industry.
</p>
</div>
<div class='documentation-section'>
<h3 id='information-collected-by-your-application'>5. Information collected by your application</h3>
<p>
5.1. Wazza will have access to personal data collected by Your application through Wazza.
<br>
5.2. You shall be exclusively responsible, as a Controller, for the processing of the personal data. Wazza has no intervention over the data your application will collect through the Service nor the purposes for which you choose to use such data.
<br>
5.3. Wazza is authorised to process such personal data as required for the performance of the Terms and Conditions ("Processor"), compliance of its obligations and exercise of its rights under these Terms and Conditions and applicable law.
<br>
5.4. Wazza will:
<ul class='list-unstyled'>
<li>
(a) Process the personal data only pursuant to the terms of these Terms and Conditions and according to the instructions of the Controller (provided compliance with such terms and/or instructions is permitted under applicable law applicable to Wazza);
</li>
<li>
(b) Implement appropriate technical and organisational measures to protect personal data against accidental or unlawful destruction or accidental loss, alteration, unauthorized disclosure or access, and against other unlawful forms of processing.
</li>
</ul>
</p>
<p>
5.5. You are exclusively responsible and liable for informing any of your end users of the rules applicable to your processing of their personal data.
</p>
</div>
<div class='documentation-section'>
<h3 id='sharing-of-personal-data'>6. Sharing of personal data</h3>
<p>
6.1. Wazza may transfer (or otherwise make available) Your personal information to third parties that process information on Wazza’s behalf. For example, Wazza may use service providers to host the Service or to implement any feature made available by Wazza.
<br>
6.2. Wazza may also disclose information about You to third parties to comply with applicable laws and regulations.
<br>
6.3. Wazza may further communicate data to third parties that process your payments, such as when you use credit cards for this purpose. These third parties will process your data for their own purposes.
<br>
6.4. Wazza may further share non-identifiable, aggregate demographic or usage information about the Service and its Users with advertisers, business partners, sponsors, and other third parties in an effort to customise or enhance the Service.
</p>
</div>
<div class='documentation-section'>
<h3 id='international-transfers-of-personal-data'>7. International transfers of personal data</h3>
<p>
7.1. Due to the global nature of Wazza’s Service and for the purposes set out above, Wazza may transfer your personal information to parties located in other countries outside of the EU/ EEA (including the United States and other countries that have a different data protection regime than is found in the country where you are based).
<br>
7.2. You acknowledge that the Service may be hosted outside the EU/EEA, and therefore that Your personal data may be transferred to countries outside of the EU/ EEA. In case You do not intend that Your data be transferred to third countries, then You shall not use the Service.
</p>
</div>
<div class='documentation-section'>
<h3 id='security'>8. Security</h3>
<p>
8.1.  Wazza will take appropriate technical, legal and organisational security measures to protect against the loss, misuse and alteration of the information under Wazza’s control. However, as no data transmission over the Internet can be guaranteed to be totally secure, Wazza cannot warrant or guaranty that any information You transmit to the Service is fully secure.
</p>
</div>
<div class='documentation-section'>
<h3 id='other-sites'>9. Other sites</h3>
<p>
9.1.  This Privacy Policy applies to the Service, but not to websites maintained by third parties to which we may provide links. When you visit these websites, this Privacy Policy no longer applies.
<br>
9.2.  Wazza is therefore not responsible for the content or activities provided or created on such site.
</p>
</div>
<div class='documentation-section'>
<h3 id='term'>10. Term</h3>
<p>
10.1. Your personal information will not be stored for longer than it is necessary to fulfil the purposes described in this Privacy Policy, or to otherwise meet legal requirements.
<br>
10.2. After termination of the Terms and Conditions, Wazza may still keep your data for an additional period so that this data can be reused by you if you reopen an account with Wazza.
</p>
</div>
<div class='documentation-section'>
<h3 id='access-to-personal-data'>11. Access to personal data</h3>
<p>
11.1. You can always ask to review any personal information that Wazza may have collected from You, have it updated, corrected or deleted (if Wazza still has the information in its databases), and/or instruct Wazza not to use this information in the future.  If You wish to exercise this right, please log into your profile or simply contact us at
<a href="mailto:support@@wazza.io">support@@wazza.io</a>
.
</p>
</div>
<div class='documentation-section'>
<h3 id='changes-to-the-privacy-policy'>12. Changes to the Privacy Policy</h3>
<p>
12.1. From time to time, Wazza may make changes to the Privacy Policy to take account of changes in business and legal requirements. If Wazza does make changes, the changes will be posted on this page, and Wazza will indicate at the top of this Privacy Policy when the changes went into effect. Wazza encourages You to visit regularly this Site and consult this Privacy Policy frequently so that you are constantly aware of Wazza’s most current privacy practices.
<br>
12.2. Your inaction or continued use of the Service after amendments to the Privacy Policy, or Your explicit consent to any changes for which Wazza requires Your prior approval, will signal your acceptance with these changes.
</p>
</div>
    </div>
  </div>
</div>
