<nav class="navbar-inverse navbar-static-side" role="navigation" ng-controller="SideBarController" ng-show="showSideBar" id="sidebar">
  <div class="sidebar-collapse font-semibold">
    <ul class="nav" id="side-menu">
      <li>
        <a href="/home"><span class="fa fa-dashboard fa-fw"></span> Dashboard</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-table fa-fw"></span> Inventory<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/inventory">Overview</a>
          </li>
          <li>
            <a href="/inventory/crud">CRUD</a>
          </li>
          <li>
            <a href="/inventory/virtualCurrencies">Virtual Currency</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><span class="fa fa-edit fa-fw"></span> Stores<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/store/android"><i class="fa fa-android fa-fw"></i>Android</a>
          </li>
          <li>
            <a href="/store/apple"><i class="fa fa-apple fa-fw"></i>Apple</a>
          </li>
          <li><!-- TODO: amazon icon anyone? :) -->
            <a href="/store/amazon"><i class="fa fa-amazon fa-fw"></i>Amazon</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><span class="fa fa-bar-chart-o fa-fw"></span> Analytics<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/analytics">Overview</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/settings"><span class="fa fa-wrench fa-fw"></span> Settings</a>
      </li>
      <li>
        <a href="#contact" data-toggle="modal" data-target="#contacts">Contacts</a>
      </li>
      <li>
        <a href="#about" data-toggle="modal" data-target="#about">About</a>
      </li>
    </ul>
  </div>
</nav>
