<aside class="left-side sidebar-offcanvas"  ng-controller="SideBarController" ng-show="authOK" id="sidebar">                
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel" ng-model="applicationName">
            <div class="pull-left image">
                <img src="https://scontent-a-lhr.xx.fbcdn.net/hphotos-prn1/t1.0-9/p526x296/10313730_10202032360951646_6599789807152582529_n.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <h4>{{applicationName}}</h4>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="/home">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/analyticsApp">
                    <i class="fa fa-bar-chart-o"></i> <span>Analytics</span>
                </a>
            </li>
            <li>
                <a href="/recommendation">
                    <i class="fa fa-laptop"></i> <span>Recommendation</span>
                </a>
            </li>
            <li>
                <a href="/inventory">
                    <i class="fa fa-edit"></i> <span>Management</span>
                </a>
            </li>
            <li>
                <a href="/campaigns">
                    <i class="fa fa-bar-chart-o"></i> <span>Campaigns</span>
                </a>
            </li>
        </ul>
    </section>
</aside>
