<div id="sidebar-wrapper" ng-controller="SidebarController">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
                <img src="@routes.Assets.at("images/wazza_logo_white2.png")" alt="Wazza Logo" style="height: auto; width: 10em;" ng-show="barState">
                <span class="menu-icon" style="padding-right: 18px;" ng-hide="barState">
                    <img src="@routes.Assets.at("images/wazza_icon_white.png")" alt="Wazza Logo" style="height: auto; width: 2.1em;">
                </span>
            </a>
        </li>
        <li class="sidebar-list">
            <a href="" ui-sref="analytics.overview">Overview <span class="menu-icon fa fa-list-alt"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="" ng-click="onDashboardClick()">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list" ng-repeat="option in dashboardOptions" ng-show="showDashboardOptions">
            <a href="" class="childOptions" ng-click="selectDashboardSection(option.link)">{{option.name}}</a>
        </li>
        <li class="sidebar-list">
            <a href="" ng-click="onAnalyticsClick()">Analytics <span class="menu-icon fa fa-bar-chart-o"></span></a>
        </li>
        <li class="sidebar-list" ng-repeat="option in analyticsOptions" ng-show="showAnalyticsOptions">
            <a href="" class="childOptions" ng-click="followLink(option.link)">{{option.name}} <span ng-class="option.css"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="" ng-click="followLink('analytics.settings')">Settings <span class="menu-icon fa fa-gears"></span></a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <div class="col-xs-6">
            <a href="" ui-sref="analytics.terms">
                Terms
            </a>
        </div>
        <div class="col-xs-6">
            <a href="http://www.wazza.io/documentation" target="_blank">
                Documentation
            </a>
        </div>
    </div>
</div>
