<!-- TODO: Optimize CSS again.. -->
<link rel="stylesheet" type="text/css" media="screen" href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen" href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen" href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext'>
<link rel="stylesheet" type="text/css" media="screen" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<!-- favicon -->
<link rel="shortcut icon" href="@routes.Assets.at("images/wazza_icon_black-01.png")">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
<!-- Theme style -->
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/AdminLTE.css")" />
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/rdash.css")" />


<!-- D3 -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/nv.d3.min.css")">

<!-- custom -->
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/appEditor.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/item.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/dashboard.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/kpi.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/chart.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/companyOverview.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/hover-min.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/sweet-alert.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/custom.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/settings.css")">
