<div class="container">
  <div class="row">
    <div class="col-lg-9">

<h1 class='page-header'>
Wazza - Terms and Conditions
</h1>

<div class='documentation-section'>
<h3 id='scope'>1. Scope</h3>
<p>
1.1. The following Terms and Conditions is a legal contract between you, an individual user or a single entity (collectively or individually "Users", “You”, “Your”, “Yours”), and Wazza regarding your use of the Site and of Wazza (collectively the “Service”).
<br>
1.2. Wazza is a real-time analytics platform for In-app Purchases that enables applications’ owners to gather monetization data from their applications and analyse it with full user profiling and segmentation.
<br>
1.3. The Site makes available information relating to Wazza.
<br>
1.4. The Service is destined to be used for commercial purposes by entities or individuals that have developed or have the rights to commercially exploit an application to which the Service can be connected.
<br>
1.6.  When using particular functionalities and features that are part of the Service, You may be subject to additional guidelines, terms, or rules applicable to such functionalities and features (“Additional Terms”), which may be posted from time to time. All such Additional Terms and the
<a href='/privacy-policy'>
Privacy Policy
</a>
are hereby incorporated by reference into these Terms and Conditions.
<br>
1.7. By accessing and using the Service, You signal your acceptance, without limitation or qualification, to these Terms and Conditions. If you do not agree with these Terms and Conditions, you are not permitted to use the Service.
<br>
1.8. Please read these Terms and Conditions on a regular basis, as they can be changed with no prior notification to You. If the User keeps using the Service after amendments to these Terms and Conditions, any such use shall be interpreted as acceptance of the amendments.
<br>
1.9. These Terms and Conditions remain available on the Site for you consultation.
</p>
</div>
<div class='documentation-section'>
<h3 id='users'>2. Users</h3>
<p>
2.1.  The Service is intended solely for access and use by individuals that are eighteen (18) years of age or older. By accessing and using the Service, you are certifying that you are at least eighteen (18) years old.
<br>
2.2.  By using the Service, you represent and warrant that you have the right, authority, and capacity to enter into these Terms and Conditions.
<br>
2.3.  If you are merely browsing through the Site and have not registered, your use of the Site is still subject to these Terms and Conditions.
</p>
</div>
<div class='documentation-section'>
<h3 id='user-account'>3. User account</h3>
<p>
3.1.  You will have to sign up and become a registered User if you want to use the Service.
<br>
3.2.  If you sign up to become a registered User, you will have to provide a set of information required by Wazza and may also be asked to choose a username and a password for your account.
<br>
3.3.  You agree that you (a) shall provide true, accurate, current and complete information to Wazza in connection with any use or access of the Service and (b) will maintain and update this information to keep it true, accurate, current and complete.  Wazza reserves the right to terminate your use of the Service in the event we learn or believe any information provided may be false, inaccurate, not current or incomplete.
<br>
3.4.  You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account and/or password.
<br>
3.5.  If any unauthorized person obtains access to the Service as a result of any act or omission by you, you shall use your best efforts to ascertain the source and manner of acquisition and shall fully and promptly brief us. You shall otherwise cooperate and assist in any investigation relating to any such unauthorized access.
<br>
3.6.  For more information on how Wazza uses you data, please read our
<a href='/privacy-policy'>
Privacy Policy.
</a>
</p>
</div>
<div class='documentation-section'>
<h3 id='license-to-use-the-service'>4. License to use the Service</h3>
<p>
4.1. Provided you have opened an account in Wazza for using the Service, Wazza grants to You a non-exclusive, non-assignable, non-transferable license to use the Service for the exclusive purposes for which the Service is made available.
<br>
4.2. Wazza makes available an API that will allow the Service to work together with your application.  You are exclusively responsible for obtaining all required licenses from third parties as required to use the Service together with your application.
<br>
4.3. Wazza reserves the full extent of its rights with respect to the Service under applicable law. Any use of the Service which is not expressly authorised by Wazza hereunder or allowed pursuant to mandatory applicable law is prohibited.  Without limiting the foregoing, You shall do or attempt to do (or permit other to do or attempt to do) any of the following in connection with the Service or any portion thereof:
<ul class='list-unstyled'>
<li>(a) Download and/or install the Service;</li>
<li>(b) Reproduce, copy, upload, post, transmit, transfer, distribute or use the Service in any non-authorised manner;</li>
<li>(c) Distribute, market or otherwise make available the Service to, or perform the foregoing for, any third party, whether by sublicense, transfer, assignment, license, deposit or otherwise, or display the Service, whether free of charge or not;</li>
<li>(d) Use the Service on behalf or for the benefit of any third party (including as part of any application service provider, service bureau, facilities management, or other similar arrangements or services);</li>
<li>(e) Use the Service so as to develop or to market any software program or to compete with Wazza in any way, or in any other manner which violates the intellectual property rights of Wazza;</li>
<li>(f) Disassemble, reverse engineer, decompile or decode the Service, or otherwise attempt to obtain or perceive the source code from which any software component of the Service is compiled or interpreted, and you acknowledge that nothing herein will be construed to grant you any right to obtain or use such code;</li>
<li>(g) Override, break down, avoid, bypass, remove, deactivate or otherwise impair any protection system, mechanism or measure integrated into or provided within the Service (including decrypting any encrypted code or descrambling any scrambled code);</li>
<li>(h) Access or use any module, functionality or other part of the Service which has not been authorised hereunder;</li>
<li>(i) Create a derivative work or adapt, alter, change, transform, modify, transform, re-cast or rearrange the Service, including with the intent or effect of creating a derivative work or any composite work, joint work, collective work, or compilation involving the Service or its documentation;</li>
<li>(j) Translate the Service into other languages.</li>
</ul>
<p>
4.4. In case You breach any of the above, it is expressly agreed that the intellectual property rights which may arise therefrom shall exclusively vest in or remain exclusively vested in Wazza and You will take such action as Wazza may reasonably require in order to effectively vest such intellectual property rights in Wazza, or to evidence the same.
</p>
</p>
</div>
<div class='documentation-section'>
<h3 id='user-content'>5. User content</h3>
<p>
5.1. Wazza may, but is not under any obligation to, view, analyze, control or edit any contents or materials made available by Users on the Service.
<br>
5.2. You are exclusively responsible for any contents you make available on or through the Service, including without limitation opinions, comments and suggestions. You shall therefore not make available any illegal contents or contents the use of which was not authorised.
<br>
5.3. Wazza is in no way responsible for the information, opinions or contents of any kind that are made available by you or by other users, nor for any information, product or services which may be associated or advertised on the Service, including without limitation on banners or any type of advertising.
<br>
5.4. Wazza reserves the right to use, by any means and with no limits as regards place, time, format or purposes, the contents, information and materials you make available on or through the Service.
<br>
5.5. Wazza cannot also be held responsible for the use other users make of your contents.
<br>
5.6. Wazza may remove, with no prior written notification to you, any content or material made available by you on or through the Service, including without limitation if they are illegal or when required by a competent entity.
<br>
5.7.  Wazza may also require from you to delete any content that infringes or may infringe Wazza or third parties’ rights, or mandatory applicable law. You shall immediately remove any such content.
</p>
</div>
<div class='documentation-section'>
<h3 id='user-acknowledgments-and-obligations'>6. User’s acknowledgments and obligations</h3>
<p>
6.1 You shall:
<ul class='list-unstyled'>
<li>
(a) Obtain all licenses, approvals and authorizations with a view to guarantee that the Service is not used and/or accessed in breach of applicable law, bearing all costs therefrom;
</li>
<li>
(b) Not access, or try to access, the Service, through means which are not made available by Wazza, nor use modified forms of software with the purpose of obtaining non authorised access to the Service;
</li>
<li>
(c) Introduce software or automated agents or scripts to the Service so as to produce multiple accounts, generate automated searches, requests and queries, or to strip or mine data from the Service;
</li>
<li>
(d) Not use the Service, its contents, materials, functionalities and resources, for illegal purposes or for purposes not permitted herein, such as to perform or publish any performance or benchmark tests or analyzes relating to the Service or the use thereof;
</li>
<li>
(e) Not alter, change, modify, transform, adapt, translate, decompile, reverse engineer, copy, reproduce, upload, post, transmit, transfer, distribute or use the Service in any non-authorised manner;
</li>
<li>
(f) Not remove any copyright, trademark or other notices, legends, symbols or labels appearing on the Service;
</li>
<li>
(g) Not act in any manner that may interfere with the proper operation of the Service or that may cause damages or jeopardize the integrity, continuity and quality of the Service, including without limitation (i) breaching authentication or security systems protecting access accounts, servers, services or networks, (ii)  accessing or obtaining third party’s data without consent, including without limitation phishing, (iii) non authorised searching of vulnerabilities or deficiencies regarding access accounts, servers, services, networks (scanning), (iv) flooding or denial of service attacks, (v) non authorised access to computer systems, services or networks (break in), (vi) non authorised interception and/or interference in data, systems or equipment, (vii) breaching/circumventing or attempting to breach/circumvent any technological measures and rights-management information
</li>
<li>
(h) Not use the Service in any manner, or for any application, that is illegal, threatening, harassing, privacy invading, harmful, vulgar, pornographic, malicious, abusive, libelous, offensive, obscene, rude, hateful or discriminatory, or that is otherwise objectionable, as well as that may negatively affect people’s dignity or minors, or that may negatively affect Wazza’s image and reputation. Do not also use the Service in an application that instructs on illegal activities or promote aggression or cruelty against people or animals;
</li>
<li>
(i) Not use the Service in any manner, or with applications, that breaches third parties’ rights, including without limitation Wazza or third parties’ intellectual property rights, third parties’ personality rights (such as right to image and privacy) or confidentiality obligations - be aware then whenever you use, send or make available contents or materials which are not yours, you have to obtain prior authorization from the holders of the intellectual property or personality rights;
</li>
<li>
(j) Not use the Service to, or together with applications, that promote or transmit material which contains or may contain viruses, worms, errors, Trojan horses or other codes or items, programs or files which may interrupt, destroy or limit the functionality of any equipment or computer system (hardware and software);
</li>
<li>
(k) Not use the Service to, or together with applications, that make available or transmit any non-solicited or non-authorised content, such as advertising emails, SPAM, junk mail, chain letters and pyramid schemes;
</li>
<li>
(l) Not make available false or misleading information or content which falsely indicate that it is supported or sponsored by Wazza;
</li>
<li>
(m) Not hide your identity;
</li>
<li>
(n) Not impersonate anyone or an entity, including without limitation a Wazza employee or representative, nor act as a Wazza host, nor indicate falsely that you are related to a third person;
</li>
<li>
(o) Not collect, store, make available, transmit, exploit or reproduce any information on other users (including without limitation users’ names and/or emails) for non-authorised purposes.
</li>
<li>
(p) Not create an account or provide any information under false pretences, with false or incomplete information, or to mislead others;
</li>
<li>
(q) Not adulterate (introduce, modify, suppress or erase, in whole or in part) data, with the intention of misleading their recipients, including without limitation, IP Spoofing and changing the emails’ identification;
</li>
<li>
(r) Not use the Service in territories which may adversely affect Wazza’s rights, e.g., when applicable law may make sections of these Terms and Conditions void, or rules on intellectual property may prevent the exercise of Wazza’s rights under the Berne Convention or a risk that the Service may enter the public domain;
</li>
<li>
(s) Comply at all times with all obligations applicable to the data collected by your applications through the Service;
</li>
<li>
(t) Promptly provide information reasonably requested by Wazza under the scope of these Terms and Conditions.
</li>
</ul>
</p>
<p>
6.2. You shall further use the Service in a careful, prudent and responsible manner, and shall not use it in a manner that may affect, disturb or degrade the availability, integrity and quality of the Service.
<br>
6.3. Any use of the Service is made at your own initiative and risk, and therefore you are exclusively responsible for any damages caused to your computer systems or for any other damages, including without limitation loss of data, which result from the use of the contents, materials and/or information obtained through the Service.
</p>
</div>
<div class='documentation-section'>
<h3 id='application'>7.  Application</h3>
<p>
7.1. You are exclusively responsible and liable for your application, and Wazza has no intervention over it.
<br>
7.2. You further acknowledge that you and your application comply with all applicable laws and regulations, including relating to the processing of personal data.
<br>
7.3. You shall be exclusively responsible and liable for the use you make of the Service, including for any customisations, parameterizations or personalisation you make based on the functionalities made available. Wazza has no intervention over the choices you make for use of the Service and of its functionalities. You declare and acknowledge that you shall only use the Service and its functionalities as permitted by applicable law.
</p>
</div>
<div class='documentation-section'>
<h3 id='security'>8. Security</h3>
<p>
8.1. Wazza may, at any moment and without prior notice, undertake the measures required for guaranteeing the integrity, security, availability and quality of the Site, including restrictions and limitations of access.
<br>
8.2. You shall adopt all measures necessary to protect your computer systems and/or other terminal equipment, including without limitation by means of installing antivirus software.
<br>
8.3. You shall promptly communicate to Wazza situations that may come to your knowledge regarding (i) security breach in the Service and (ii) the development and marketing of equipment and devices aiming at allowing the illegitimate access to the Service.
</p>
</div>
<div class='documentation-section'>
<h3 id='links'>9. Links</h3>
<p>
9.1. Wazza is under no obligation to view, analyze or control the contents, materials and services made available in linked sites and therefore it is not liable for them.
<br>
9.2. Links to other sites not does mean that there is any kind of relationship between Wazza and the owner of said sites, or that Wazza accepts or approves any content, services or materials made available therein. Wazza is therefore not liable for any content made available on sites to which the Service links.
</p>
</div>
<div class='documentation-section'>
<h3 id='fees-and-invoicing'>10. Fees and Invoicing</h3>
<p>
10.1. In case you are a registered User using Wazza, you shall have to pay the fees which are indicated
<a href='/pricing'>
here
</a>
or otherwise are communicated to you.
<br>
10.2. Fees may be updates from time to time. Wazza will notify the Users reasonably in advance of any update to the fees.
<br>
10.3. All fees are net and exclusive of taxes and all taxes arising in connection with amounts payable shall be borne by You, and You shall indemnify and hold harmless Wazza from and against all such taxes on an after-tax basis.
<br>
10.4. Without limiting the above, if any withhoWazzang of taxes is required under applicable law with respect to any amount payable to Wazza, You shall pay an additional amount such that the net amount actually received by Wazza will be equal to all such amounts then due to Wazza pursuant hereunder. You shall provide Wazza with copies of the payment receipts for any taxes so withheld, upon request.
<br>
10.5. You shall pay the invoices within 30 (thirty) days from their issuance date. Invoices will be issued in electronic manner.
<br>
10.6. All payments hereunder shall be made in full without any withhoWazzang, set-off or counterclaim whatsoever and are non-refundable.
<br>
10.7. If payment is made by electronic transfer, cheque or other mechanism of payment, such payment is not deemed to be made until the actual receipt of cleared funds.
<br>
10.8. In the event that an invoice is not paid during such thirty (30) days period, the outstanding amounts shall carry interest for commercial obligations at the interest rate applicable under Portuguese law, without prejudice to Wazza’s right to either suspend or terminate use of Wazza by you, by written notice without any additional formalities.
</p>
</div>
<div class='documentation-section'>
<h3 id='typographical-errors'>11. Typographical errors</h3>
<p>
11.1. Typographical errors in the fees or other information allow Wazza to rectify the error.
<br>
11.2. In case User has been charged, User may request Wazza to, instead of debiting User for the correct amount, reimburse User for the amount already debited, which shall be done to the same card used for payment. In this case, license to use Wazza is cancelled.
</p>
</div>
<div class='documentation-section'>
<h3 id='intellectual-property'>12. Intellectual Property</h3>
<p>
12.1. Wazza retains all intellectual property rights in the Service, its content, structure, selection, organisation and presentation of content (together with modifications, improvements, enhancements, updates, new versions and customisations), including without limitation its functionalities and software, as well as the trademarks, service marks, brands, characters and logos – and nothing in relation to these Terms and Conditions shall operate as a transfer of such.
<br>
12.2. Wazza may include the corporate, business and trading names of User, as well as its trademarks, service marks, logos, slogans, trade dress and brand names, whether registered or unregistered, either alone or on combination with any other names and/or trademarks, in reference lists, in proposals to be presented to prospective clients, in internal business documents, in plans to be presented to shareholders, in the scope of promotional, advertising and marketing actions related with the Service, including at any trade show (including in any newspaper, magazine or similar public forum), as well as whenever required for legal or accounting purposes.
<br>
12.3. You shall not use Wazza’s  corporate, business and trading names, or its trademarks, service marks, logos, slogans, trade dress and brand names for any purpose without Wazza’s prior written authorization, including to promote, disclose or advertise you application.
</p>
</div>
<div class='documentation-section'>
<h3 id='limitation-of-liability-and-indemnification'>13. Limitation of liability and indemnification</h3>
<p>
13.1. Wazza assumes no liability for any damages to, or viruses that may infect, your computer equipment or other property on account of your use of the Service, nor for:
<ul class='list-unstyled'>
<li>
(a) The use or impossibility of use of the Service, including in case of delays, interruptions, errors, interferences or suspension of communications, virus, bugs or malfunction of systems, as well as a result of customisations/adaptations undertaken by you;
</li>
<li>
(b) Delays or unavailability caused by Internet or other systems’ deficiencies or overload;
</li>
<li>
(c) Suspension, non-operation or non-authorised use of the servers on which the Service is stored;
</li>
<li>
(d) Third parties illegal actions or omissions, including without limitation access and modification of databases;
</li>
<li>
(e) Use of you user name and passwords by non-authorised third parties;
</li>
<li>
(f) Security breaches or deficiencies which may arise from the use of a non-updated or unsecure browser, as well as for the activation of devices used to store passwords or identification codes, or for damages, errors or inaccuracy that may result from their malfunction;
</li>
<li>
(g) The data, information and contents collected by your application through Wazza;
</li>
<li>
(h) For any lack of interoperability of Wazza with your application;
</li>
<li>
(i) Delays or failures arising from (i) any delay or failure by you or third parties, (ii) errors or omissions in any information provided by you, (iii) the incorrect or unauthorized use of the Service;
</li>
<li>
(j) Delays or failures arising from a force majeure event.
</li>
</ul>
</p>
<p>
13.2. To the extent permitted by applicable law, under no circumstances and under no legal or equitable theory, whether in tort, contract, strict liability or otherwise, shall Wazza or any of its affiliates, employees, directors, officers, agents, vendors or suppliers be liable to You or to any other person for any indirect, special, incidental or consequential losses or damages of any nature arising out of or in connection with the use of or inability to use the Service, including, without limitation, damages for lost profits, loss of business, loss of anticipated savings, loss of production, loss of equipment or materials, loss of goodwill, loss of data, work stoppage, accuracy of results, market share loss, damage to reputation and trading losses or computer failure or malfunction, even if an authorised representative of Wazza has been advised of or should have known of the possibility of such damages.
<br>
13.3. To the extent permitted by applicable law, in no event will Wazza be liable for any damages in excess of any fees paid by you in connection with your use of Wazza during the six month period preceding the date on which the claim arose.
<br>
13.4. You agree to indemnify and hold harmless Wazza and its affiliates from and against any and all claims, damages, costs and expenses, including attorneys' fees, arising from or related to your use of the Service or any breach by you of these Terms and Conditions.
</p>
</div>
<div class='documentation-section'>
<h3 id='warranties'>14. Warranties</h3>
<p>
14.1. To the extent permitted by applicable law, the Service and relating documentation (including contents, materials and information) are provided “as is” and “with all faults” and the entire risk as to satisfactory quality and performance is with You. Wazza does not make, and each hereby fully disclaims, any other representations, warranties and conditions regarding the Service and documentation (including contents, materials and information), whether oral or written, express or implied, and whether arising by statute or otherwise in law, or from a course of performance, course of dealing or usage of trade, to the maximum extent permitted by applicable law, including any representation, warranty or condition that the Service will meet the requirements of User or that its use will be uninterrupted or error-free, and including but not limited to the implied warranties of merchantability, fitness for a particular purpose or non-infringement.
<br>
14.2. Wazza does not further warrant that:
<ul class='list-unstyled'>
<li>
(a) The Service will function uninterruptedly, is free of errors or flaws or is available on a continuous manner;
</li>
<li>
(b) The Service does contain any virus or other elements which may affect your computer systems;
</li>
<li>
(c) The results obtained through the use of the Service are correct, true, accurate, updated or reliable;
</li>
<li>
(d) Any advice, recommendation or information made available on the Service, or obtained through its use, is updated, accurate, complete and without errors – Wazza informs that is does not assume any legal duty in this matter;
</li>
<li>
(e) The Service will work together with your application.
</li>
</ul>
</p>
<p>
14.3. Please be aware that your use of the Service it at your own risk. Wazza does not warrant that the Service meets your needs or expectations or that it meets your particular purposes.
<br>
14.4. Wazza makes no representation that the Service, the contents, materials and information therein are appropriate or available for use in every location and access to them from territories where the content may be illegal is prohibited.
</p>
</div>
<div class='documentation-section'>
<h3 id='suspension-and-closing-of-the-service'>15. Suspension and closing of the Service</h3>
<p>
15.1. These Terms and Conditions shall remain in force and effect until terminated.
<br>
15.2. Wazza may, at any time and without prior notice:
<ul class='list-unstyled'>
<li>
(a) Suspend, in whole or in part, access to any part of the Service, including for purposes of managing, supporting, changing or updating the Service – whenever possible, Wazza will inform online the dates and times of such interventions;
</li>
<li>
(b) Close, in whole or in part, the Service.
</li>
</ul>
</p>
<p>
15.3. The closing or suspension of the Service does not grant you any right to an indemnification or compensation from Wazza.
<br>
15.4. In case you are a registered User, Wazza may terminate your account (and therefore your use of Wazza) by convenience or in case of breach by you by giving not less 10 (ten) days prior written notice, unless your breach is not curable, in which case your account is closed on the date you are notified by Wazza.
<br>
15.5. Wazza may also suspend or close the Service or your account in case it becomes unlawful for Wazza to comply or perform its obligations hereunder.
<br>
15.6. You may terminate these Terms and Conditions by notifying us in writing (in which case the account will be closed within 30 days) or by closing your account, if this option is made available.
<br>
15.7. In case of termination of your account:
<ul class='list-unstyled'>
<li>
(a) You shall immediately terminate your use of Wazza;
</li>
<li>
(b) All data stored by Wazza may be deleted (without prejudice to what is stated in the Privacy Policy) – you are exclusively responsible for undertaking whatever action you may deem necessary to transfer the data to other means;
</li>
<li>
(c) All documentation (and all copies, duplicates, summaries, abstracts or other representations of any such documentation of Wazza, or any part thereof, in whatever form) shall be returned to Wazza.
</li>
</ul>
</p>
<p>
15.8. Termination of your account will not affect any accrued rights of the parties, including any right to receive any payments due but unpaid before termination. Wazza will not reimburse you any amounts already paid.
</p>
</div>
<div class='documentation-section'>
<h3 id='final-provisions'>16. Final provisions</h3>
<p>
16.1. Wazza reserves the right to manage the design and layout of all information, content and materials made available on the Service and therefore it can at any time update, alter or delete any contents, services, options and functionalities, as well as alter its presentation and configuration, or its URL.
<br>
16.2. You may not assign these Terms and Conditions, nor any of the rights or obligations arising thereof, in whole or in part, to any third party without the prior written consent of Wazza. Wazza may assign these Terms and Conditions, as well as any of its obligations or rights, to a successor entity resulting from a merger, acquisition or consolidation by Wazza.
<br>
16.3. You shall keep confidential all information made available to You by Wazza or that You may have access under these Terms and Conditions that is not generally available to the public through no fault of Yours (“Confidential Information”). In the event that You are obligated to disclose any Confidential Information as a result of law or by court order or pursuant to governmental action, You shall promptly inform Wazza, comply with Wazza’s recommendations which are compatible with the court order or governmental action and exercise all reasonable efforts to ensure that confidential treatment will be accorded such Confidential Information. The confidentiality obligations shall remain in force even after termination of these Terms and Conditions.
<br>
16.4. These Terms and Conditions shall be governed by and construed under the laws of Portugal without regard to conflicts of law provisions.
<br>
16.5. To the extent permitted by applicable law, any action or proceeding arising directly or indirectly out of or related to these Terms and Conditions or your use of the Service must be brought in the courts located in Portugal and you consent to the exclusive jurisdiction and venue of such courts.
</p>
<p>
    </div>

    </div>
  </div>
</div>
